In [1]:
%load_ext autoreload
%autoreload 2
import sys
sys.path.append("..")
from optimus import Optimus

# Create optimus
op = Optimus(master="local", app_name= "optimus", verbose = True)

    You are using PySparkling of version 2.4.10, but your PySpark is of
    version 2.3.1. Please make sure Spark and PySparkling versions are compatible.
INFO:optimus:Operative System:Windows
INFO:optimus:Just check that Spark and all necessary environments vars are present...
INFO:optimus:-----
INFO:optimus:SPARK_HOME=C:\opt\spark\spark-2.3.1-bin-hadoop2.7
INFO:optimus:HADOOP_HOME=C:\opt\hadoop-2.7.7
INFO:optimus:PYSPARK_PYTHON=C:\Users\argenisleon\Anaconda3\python.exe
INFO:optimus:PYSPARK_DRIVER_PYTHON=jupyter
INFO:optimus:PYSPARK_SUBMIT_ARGS=--jars "file:///C:/Users/argenisleon/Documents/Optimus/optimus/jars/spark-redis-2.4.1-SNAPSHOT-jar-with-dependencies.jar,file:///C:/Users/argenisleon/Documents/Optimus/optimus/jars/RedshiftJDBC42-1.2.16.1027.jar,file:///C:/Users/argenisleon/Documents/Optimus/optimus/jars/mysql-connector-java-8.0.16.jar,file:///C:/Users/argenisleon/Documents/Optimus/optimus/jars/ojdbc8.jar,file:///C:/Users/argenisleon/Documents/Optimus/optimus/jars/postgresql-42.2.5.jar,file:///C:/Users/argenisleon/Documents/Optimus/optimus/jars/presto-jdbc-0.224.jar,file:///C:/Users/argenisleon/Documents/Optimus/optimus/jars/spark-cassandra-connector_2.11-2.4.1.jar,file:///C:/Users/argenisleon/Documents/Optimus/optimus/jars/sqlite-jdbc-3.27.2.1.jar,file:///C:/Users/argenisleon/Documents/Optimus/optimus/jars/mssql-jdbc-7.4.1.jre8.jar" --driver-class-path "C:/Users/argenisleon/Documents/Optimus/optimus/jars/spark-redis-2.4.1-SNAPSHOT-jar-with-dependencies.jar;C:/Users/argenisleon/Documents/Optimus/optimus/jars/RedshiftJDBC42-1.2.16.1027.jar;C:/Users/argenisleon/Documents/Optimus/optimus/jars/mysql-connector-java-8.0.16.jar;C:/Users/argenisleon/Documents/Optimus/optimus/jars/ojdbc8.jar;C:/Users/argenisleon/Documents/Optimus/optimus/jars/postgresql-42.2.5.jar;C:/Users/argenisleon/Documents/Optimus/optimus/jars/presto-jdbc-0.224.jar;C:/Users/argenisleon/Documents/Optimus/optimus/jars/spark-cassandra-connector_2.11-2.4.1.jar;C:/Users/argenisleon/Documents/Optimus/optimus/jars/sqlite-jdbc-3.27.2.1.jar;C:/Users/argenisleon/Documents/Optimus/optimus/jars/mssql-jdbc-7.4.1.jre8.jar" --conf "spark.sql.catalogImplementation=hive" pyspark-shell
INFO:optimus:JAVA_HOME=C:\java
INFO:optimus:Pyarrow Installed
INFO:optimus:-----
INFO:optimus:Starting or getting SparkSession and SparkContext...
INFO:optimus:Spark Version:2.3.1
INFO:optimus:
                             ____        __  _
                            / __ \____  / /_(_)___ ___  __  _______
                           / / / / __ \/ __/ / __ `__ \/ / / / ___/
                          / /_/ / /_/ / /_/ / / / / / / /_/ (__  )
                          \____/ .___/\__/_/_/ /_/ /_/\__,_/____/
                              /_/

INFO:optimus:Transform and Roll out...
INFO:optimus:Optimus successfully imported. Have fun :).
INFO:optimus:Config.ini not found

# Mysql

In [2]:
# Put your db credentials here
db =  op.connect(
    driver="mysql",
    host="165.227.196.70", 
    database= "optimus", 
    user= "test", 
    password = "test")

INFO:optimus:jdbc:mysql://165.227.196.70:3306/optimus?currentSchema=public

In [3]:
db.tables()

INFO:optimus:(SELECT table_name, table_rows FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_SCHEMA = 'optimus' LIMIT 10 ) AS t
INFO:optimus:jdbc:mysql://165.227.196.70:3306/optimus?currentSchema=public

In [4]:
# db.execute("SHOW KEYS FROM test_data WHERE key_name = 'PRIMARY'")

In [5]:
db.execute("SELECT * FROM test_data").ext.display()

INFO:optimus:(SELECT * FROM test_data LIMIT 10 ) AS t
INFO:optimus:jdbc:mysql://165.227.196.70:3306/optimus?currentSchema=public

In [6]:
db.execute("SELECT * FROM test_data", partition_column ="id", table_name = "test_data").ext.display()

INFO:optimus:(SELECT * FROM test_data LIMIT 10 ) AS t
INFO:optimus:jdbc:mysql://165.227.196.70:3306/optimus?currentSchema=public
INFO:optimus:(SELECT min(id) AS min, max(id) AS max FROM test_data  LIMIT 10 ) AS t
INFO:optimus:jdbc:mysql://165.227.196.70:3306/optimus?currentSchema=public

In [7]:
db.table_to_df("test_data", partition_column ="id").ext.display()

INFO:optimus:SELECT * FROM test_data
INFO:optimus:(SELECT * FROM test_data LIMIT 10 ) AS t
INFO:optimus:jdbc:mysql://165.227.196.70:3306/optimus?currentSchema=public
INFO:optimus:(SELECT min(id) AS min, max(id) AS max FROM test_data  LIMIT 10 ) AS t
INFO:optimus:jdbc:mysql://165.227.196.70:3306/optimus?currentSchema=public

In [8]:
df = db.table_to_df("test_data", limit=None)

INFO:optimus:SELECT * FROM test_data
INFO:optimus:(SELECT * FROM test_data LIMIT 10 ) AS t
INFO:optimus:jdbc:mysql://165.227.196.70:3306/optimus?currentSchema=public

In [9]:
db.tables_names_to_json()

INFO:optimus:(SELECT TABLE_NAME AS table_name FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_SCHEMA = 'optimus' GROUP BY TABLE_NAME  ) AS t
INFO:optimus:jdbc:mysql://165.227.196.70:3306/optimus?currentSchema=public

['test_data']

# Postgres

In [10]:
# Put your db credentials here
db =  op.connect(
    driver="postgresql",
    host="165.227.196.70", 
    database= "optimus", 
    user= "testuser", 
    password = "test")

INFO:optimus:jdbc:postgresql://165.227.196.70:5432/optimus?currentSchema=public

In [ ]:
db.tables()

In [ ]:
db.table_to_df("test_data").table()

In [69]:
db.tables_names_to_json()

INFO:optimus:(
                        SELECT relname as table_name
                        FROM pg_class C LEFT JOIN pg_namespace N ON (N.oid = C.relnamespace)
                        WHERE nspname IN ('public') AND relkind='r' ORDER BY reltuples DESC) AS t
INFO:optimus:jdbc:postgresql://165.227.196.70:5432/optimus?currentSchema=public

['test_data']

## MSSQL

In [70]:
# Put your db credentials here
db =  op.connect(
    driver="sqlserver",
    host="165.227.196.70", 
    database= "optimus", 
    user= "test", 
    password = "test*0261")

INFO:optimus:jdbc:sqlserver://165.227.196.70:1433;databaseName=optimus

In [71]:
db.tables()

INFO:optimus:(SELECT * FROM INFORMATION_SCHEMA.TABLES) AS t
INFO:optimus:jdbc:sqlserver://165.227.196.70:1433;databaseName=optimus

In [72]:
db.table_to_df("test_data").table()

INFO:optimus:SELECT * FROM test_data
INFO:optimus:(SELECT * FROM test_data) AS t
INFO:optimus:jdbc:sqlserver://165.227.196.70:1433;databaseName=optimus

In [73]:
db.tables_names_to_json()

INFO:optimus:(SELECT TABLE_NAME FROM INFORMATION_SCHEMA.TABLES) AS t
INFO:optimus:jdbc:sqlserver://165.227.196.70:1433;databaseName=optimus

['test_data']

## Redshit

In [2]:
# Put your db credentials here
db =  op.connect(
    driver="redshift",
    host="165.227.196.70", 
    database= "optimus", 
    user= "testuser", 
    password = "test")

INFO:optimus:jdbc:redshift://redshift-cluster-1.chuvgsqx7epn.us-east-1.redshift.amazonaws.com:5439/dev?currentSchema=public

In [3]:
db.tables()

INFO:optimus:(
            SELECT relname as table_name,cast (reltuples as integer) AS count
            FROM pg_class C LEFT JOIN pg_namespace N ON (N.oid = C.relnamespace)
            WHERE nspname IN ('public') AND relkind='r' ORDER BY reltuples DESC) AS t
INFO:optimus:jdbc:redshift://redshift-cluster-1.chuvgsqx7epn.us-east-1.redshift.amazonaws.com:5439/dev?currentSchema=public

Py4JJavaError: An error occurred while calling o41.load.
: java.sql.SQLException: [Amazon](500150) Error setting/closing connection: Connection timed out: connect.
	at com.amazon.redshift.client.PGClient.connect(Unknown Source)
	at com.amazon.redshift.client.PGClient.<init>(Unknown Source)
	at com.amazon.redshift.core.PGJDBCConnection.connect(Unknown Source)
	at com.amazon.jdbc.common.BaseConnectionFactory.doConnect(Unknown Source)
	at com.amazon.jdbc.common.AbstractDriver.connect(Unknown Source)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcUtils$$anonfun$createConnectionFactory$1.apply(JdbcUtils.scala:63)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcUtils$$anonfun$createConnectionFactory$1.apply(JdbcUtils.scala:54)
	at org.apache.spark.sql.execution.datasources.jdbc.JDBCRDD$.resolveTable(JDBCRDD.scala:56)
	at org.apache.spark.sql.execution.datasources.jdbc.JDBCRelation.<init>(JDBCRelation.scala:115)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcRelationProvider.createRelation(JdbcRelationProvider.scala:52)
	at org.apache.spark.sql.execution.datasources.DataSource.resolveRelation(DataSource.scala:340)
	at org.apache.spark.sql.DataFrameReader.loadV1Source(DataFrameReader.scala:239)
	at org.apache.spark.sql.DataFrameReader.load(DataFrameReader.scala:227)
	at org.apache.spark.sql.DataFrameReader.load(DataFrameReader.scala:164)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:498)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:238)
Caused by: com.amazon.support.exceptions.GeneralException: [Amazon](500150) Error setting/closing connection: Connection timed out: connect.
	... 24 more
Caused by: java.net.ConnectException: Connection timed out: connect
	at sun.nio.ch.Net.connect0(Native Method)
	at sun.nio.ch.Net.connect(Net.java:454)
	at sun.nio.ch.Net.connect(Net.java:446)
	at sun.nio.ch.SocketChannelImpl.connect(SocketChannelImpl.java:648)
	at sun.nio.ch.SocketAdaptor.connect(SocketAdaptor.java:96)
	at com.amazon.redshift.client.PGClient.connect(Unknown Source)
	at com.amazon.redshift.client.PGClient.<init>(Unknown Source)
	at com.amazon.redshift.core.PGJDBCConnection.connect(Unknown Source)
	at com.amazon.jdbc.common.BaseConnectionFactory.doConnect(Unknown Source)
	at com.amazon.jdbc.common.AbstractDriver.connect(Unknown Source)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcUtils$$anonfun$createConnectionFactory$1.apply(JdbcUtils.scala:63)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcUtils$$anonfun$createConnectionFactory$1.apply(JdbcUtils.scala:54)
	at org.apache.spark.sql.execution.datasources.jdbc.JDBCRDD$.resolveTable(JDBCRDD.scala:56)
	at org.apache.spark.sql.execution.datasources.jdbc.JDBCRelation.<init>(JDBCRelation.scala:115)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcRelationProvider.createRelation(JdbcRelationProvider.scala:52)
	at org.apache.spark.sql.execution.datasources.DataSource.resolveRelation(DataSource.scala:340)
	at org.apache.spark.sql.DataFrameReader.loadV1Source(DataFrameReader.scala:239)
	at org.apache.spark.sql.DataFrameReader.load(DataFrameReader.scala:227)
	at org.apache.spark.sql.DataFrameReader.load(DataFrameReader.scala:164)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:498)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:238)
	at java.lang.Thread.run(Thread.java:748)

In [ ]:
db.table_to_df("test_data").table()

## Oracle

In [ ]:
# Put your db credentials here
db =  op.connect(
    driver="oracle",
    host="165.227.196.70", 
    database= "optimus", 
    user= "testuser", 
    password = "test")

## SQLlite

In [53]:
# Put your db credentials here
db =  op.connect(
    driver="sqlite",
    host="chinook.db", 
    database= "employes", 
    user= "testuser", 
    password = "test")

INFO:optimus:jdbc:sqlite:chinook.db

In [54]:
db.tables()

INFO:optimus:(SELECT name FROM sqlite_master WHERE type='table') AS t
INFO:optimus:jdbc:sqlite:chinook.db

In [55]:
db.table_to_df("albums",limit="all").table()

INFO:optimus:(SELECT COUNT(*) as COUNT FROM albums) AS t
INFO:optimus:jdbc:sqlite:chinook.db

347 rows

INFO:optimus:SELECT * FROM albums
INFO:optimus:(SELECT * FROM albums) AS t
INFO:optimus:jdbc:sqlite:chinook.db

In [60]:
db.tables_names_to_json()

INFO:optimus:(SELECT name FROM sqlite_master WHERE type='table') AS t
INFO:optimus:jdbc:sqlite:chinook.db

['albums',
 'sqlite_sequence',
 'artists',
 'customers',
 'employees',
 'genres',
 'invoices',
 'invoice_items',
 'media_types',
 'playlists',
 'playlist_track',
 'tracks',
 'sqlite_stat1']

## Redis

In [2]:
df = op.load.csv("https://raw.githubusercontent.com/ironmussa/Optimus/master/examples/data/foo.csv", sep=",", header='true', infer_schema='true', charset="UTF-8", null_value="None")

INFO:optimus:Downloading foo.csv from https://raw.githubusercontent.com/ironmussa/Optimus/master/examples/data/foo.csv
INFO:optimus:Downloaded 967 bytes
INFO:optimus:Creating DataFrame for foo.csv. Please wait...

In [3]:
df.table()

In [30]:
# Put your db credentials here
db =  op.connect(
    driver="redis",
    host="165.227.196.70", 
    port = 6379,
    database= 1, 
    password = "")

In [32]:
db.df_to_table(df, "hola1", redis_primary_key="id")

INFO:optimus:`id`,`firstName`,`lastName`,`billingId`,`product`,`price`,`birth`,`dummyCol` column(s) was not processed because is/are not array,vector
INFO:optimus:Outputting 0 columns after filtering. Is this expected?
INFO:optimus:Using 'column_exp' to process column 'id' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'firstName' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'lastName' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'billingId' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'product' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'price' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'birth' with function _cast_to
INFO:optimus:Using 'column_exp' to process column 'dummyCol' with function _cast_to

hola1

In [33]:
# https://stackoverflow.com/questions/56707978/how-to-write-from-a-pyspark-dstream-to-redis
    
db.table_to_df(0)

TypeError: can only concatenate str (not "int") to str