In [10]:
%load_ext autoreload
%autoreload 2
import sys
sys.path.append("..")
from optimus import Optimus

# Create optimus
_load = Optimus("ibis", verbose = True)

In [18]:
# Put your db credentials here
db =  _load.connect(
    driver="impala",
    host="35.223.122.210", 
    database= "default", 
    user= "cloudera", 
    password = "cloudera")

impala://cloudera:cloudera@35.223.122.210:10000/default

In [ ]:
df = db.table_to_df("prueba")

In [ ]:
_processing = Optimus("pandas", verbose = True)
df = _processing.from_dataframe(df)

In [61]:
# https://github.com/cloudera/impyla/issues/315
# pip uninstall pure-sasl
#pip uninstall sasl
!pip install pure-sasl

Collecting pure-sasl
  Downloading pure-sasl-0.6.2.tar.gz (11 kB)
Building wheels for collected packages: pure-sasl
  Building wheel for pure-sasl (setup.py): started
  Building wheel for pure-sasl (setup.py): finished with status 'done'
  Created wheel for pure-sasl: filename=pure_sasl-0.6.2-py3-none-any.whl size=11435 sha256=5aa6d172a618efdeb1b9a62e705812572f668681aed405d6f40a258c76176ab5
  Stored in directory: c:\users\argenisleon\appdata\local\pip\cache\wheels\60\6d\c4\eeb9f5eae120dce84399f49fc92b447f5b9c2788217aee3209
Successfully built pure-sasl
Installing collected packages: pure-sasl
Successfully installed pure-sasl-0.6.2

In [12]:
import ibis

hdfs = ibis.impala.hdfs_connect(host='localhost')
con = ibis.impala.connect(user="cloudera", password="cloudera", 
    host='35.223.122.210', port= 21050, database='default'
)

Without an HDFS connection, certain functionality may be disabled

In [26]:
con.list_tables()

['prueba']

In [15]:
table = con.table('prueba', database='default')

In [22]:
table.compile()

'SELECT *\nFROM default.`prueba`'

In [25]:
dir(table)

['__bool__',
 '__call__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__len__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__nonzero__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_alter_table_helper',
 '_assert_valid',
 '_client',
 '_database',
 '_ensure_expr',
 '_execute',
 '_factory',
 '_get_type',
 '_is_materialized',
 '_is_valid',
 '_key',
 '_match_name',
 '_qualified_name',
 '_repr',
 '_repr_png_',
 '_resolve',
 '_root_tables',
 '_safe_name',
 '_type_display',
 '_unqualified_name',
 'add_partition',
 'aggregate',
 'alter',
 'alter_partition',
 'anti_join',
 'any_inner_join',
 'any_left_join',
 'asof_join',
 'column_stats',
 'columns',
 'compile',
 'compute_stats',
 'count',
 'cross_join',
 'describe_formatted',
 'difference',
 'distinct',
 'drop',
 'drop_partition',
 'equals',
 'execute',
 'files',
 'filter',
 'get_column',
 'get_columns',
 'group_by',
 'groupby',
 'head',
 'info',
 'inner_join',
 'insert',
 'intersect',
 'invalidate_metadata',
 'is_partitioned',
 'join',
 'left_join',
 'limit',
 'load_data',
 'materialize',
 'metadata',
 'mutate',
 'name',
 'op',
 'outer_join',
 'partition_schema',
 'partitions',
 'pipe',
 'projection',
 'prueba1',
 'refresh',
 'relabel',
 'rename',
 'rowid',
 'schema',
 'select',
 'semi_join',
 'set_column',
 'set_external',
 'sort_by',
 'stats',
 'to_array',
 'truncate',
 'union',
 'verify',
 'view',
 'visualize']

In [21]:
table.execute()
# dir(table)

  prueba1
0  prueba

In [13]:
con.tables()

AttributeError: 'ImpalaClient' object has no attribute 'tables'

In [19]:
db.tables()

['HDFS', 'ImpalaClient', 'ImpalaConnection', 'ImpalaDatabase', 'ImpalaTable', 'WebHDFS', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__path__', '__spec__', 'add_operation', 'aggregate_function', 'client', 'com', 'compat', 'compile', 'compiler', 'connect', 'ddl', 'dialect', 'hdfs_connect', 'options', 'scalar_function', 'udf', 'verify', 'wrap_uda', 'wrap_udf']

TypeError: connect() got an unexpected keyword argument 'url'

In [13]:
db.table_to_df("prueba").ext.display()

StatementError: (thriftpy2.protocol.exc.TProtocolException) No protocol version header
[SQL: SELECT * FROM prueba LIMIT 0]

In [7]:
df.head()

,INCIDENT_NUMBER,OFFENSE_CODE,OFFENSE_CODE_GROUP,OFFENSE_DESCRIPTION,DISTRICT,REPORTING_AREA,SHOOTING,OCCURRED_ON_DATE,YEAR,MONTH,DAY_OF_WEEK,HOUR,UCR_PART,STREET,Lat,Long,Location
0,I182070945,00619,Larceny,LARCENY ALL OTHERS,D14,808,,2018-09-02 13:00:00,2018,9,Sunday,13,Part One,LINCOLN ST,42.35779134,-71.13937053,"(42.35779134, -71.13937053)"
1,I182070943,01402,Vandalism,VANDALISM,C11,347,,2018-08-21 00:00:00,2018,8,Tuesday,0,Part Two,HECLA ST,42.30682138,-71.06030035,"(42.30682138, -71.06030035)"
2,I182070941,03410,Towed,TOWED MOTOR VEHICLE,D4,151,,2018-09-03 19:27:00,2018,9,Monday,19,Part Three,CAZENOVE ST,42.34658879,-71.07242943,"(42.34658879, -71.07242943)"
3,I182070940,03114,Investigate Property,INVESTIGATE PROPERTY,D4,272,,2018-09-03 21:16:00,2018,9,Monday,21,Part Three,NEWCOMB ST,42.33418175,-71.07866441,"(42.33418175, -71.07866441)"
4,I182070938,03114,Investigate Property,INVESTIGATE PROPERTY,B3,421,,2018-09-03 21:05:00,2018,9,Monday,21,Part Three,DELHI ST,42.27536542,-71.09036101,"(42.27536542, -71.09036101)"
5,I182070936,03820,Motor Vehicle Accident Response,M/V ACCIDENT INVOLVING PEDESTRIAN - INJURY,C11,398,,2018-09-03 21:09:00,2018,9,Monday,21,Part Three,TALBOT AVE,42.29019621,-71.07159012,"(42.29019621, -71.07159012)"
6,I182070933,00724,Auto Theft,AUTO THEFT,B2,330,,2018-09-03 21:25:00,2018,9,Monday,21,Part One,NORMANDY ST,42.30607218,-71.08273260,"(42.30607218, -71.08273260)"
7,I182070932,03301,Verbal Disputes,VERBAL DISPUTE,B2,584,,2018-09-03 20:39:37,2018,9,Monday,20,Part Three,LAWN ST,42.32701648,-71.10555088,"(42.32701648, -71.10555088)"
8,I182070931,00301,Robbery,ROBBERY - STREET,C6,177,,2018-09-03 20:48:00,2018,9,Monday,20,Part One,MASSACHUSETTS AVE,42.33152148,-71.07085307,"(42.33152148, -71.07085307)"
9,I182070929,03301,Verbal Disputes,VERBAL DISPUTE,C11,364,,2018-09-03 20:38:00,2018,9,Monday,20,Part Three,LESLIE ST,42.29514664,-71.05860832,"(42.29514664, -71.05860832)"

In [8]:
df1 = df.cols.lower("INCIDENT_NUMBER")

In [9]:
df.to_pandas()

,INCIDENT_NUMBER,OFFENSE_CODE,OFFENSE_CODE_GROUP,OFFENSE_DESCRIPTION,DISTRICT,REPORTING_AREA,SHOOTING,OCCURRED_ON_DATE,YEAR,MONTH,DAY_OF_WEEK,HOUR,UCR_PART,STREET,Lat,Long,Location
0,I182070945,00619,Larceny,LARCENY ALL OTHERS,D14,808,,2018-09-02 13:00:00,2018,9,Sunday,13,Part One,LINCOLN ST,42.35779134,-71.13937053,"(42.35779134, -71.13937053)"
1,I182070943,01402,Vandalism,VANDALISM,C11,347,,2018-08-21 00:00:00,2018,8,Tuesday,0,Part Two,HECLA ST,42.30682138,-71.06030035,"(42.30682138, -71.06030035)"
2,I182070941,03410,Towed,TOWED MOTOR VEHICLE,D4,151,,2018-09-03 19:27:00,2018,9,Monday,19,Part Three,CAZENOVE ST,42.34658879,-71.07242943,"(42.34658879, -71.07242943)"
3,I182070940,03114,Investigate Property,INVESTIGATE PROPERTY,D4,272,,2018-09-03 21:16:00,2018,9,Monday,21,Part Three,NEWCOMB ST,42.33418175,-71.07866441,"(42.33418175, -71.07866441)"
4,I182070938,03114,Investigate Property,INVESTIGATE PROPERTY,B3,421,,2018-09-03 21:05:00,2018,9,Monday,21,Part Three,DELHI ST,42.27536542,-71.09036101,"(42.27536542, -71.09036101)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
319068,I050310906-00,03125,Warrant Arrests,WARRANT ARREST,D4,285,,2016-06-05 17:25:00,2016,6,Sunday,17,Part Three,COVENTRY ST,42.33695098,-71.08574813,"(42.33695098, -71.08574813)"
319069,I030217815-08,00111,Homicide,"MURDER, NON-NEGLIGIENT MANSLAUGHTER",E18,520,,2015-07-09 13:38:00,2015,7,Thursday,13,Part One,RIVER ST,42.25592648,-71.12317207,"(42.25592648, -71.12317207)"
319070,I030217815-08,03125,Warrant Arrests,WARRANT ARREST,E18,520,,2015-07-09 13:38:00,2015,7,Thursday,13,Part Three,RIVER ST,42.25592648,-71.12317207,"(42.25592648, -71.12317207)"
319071,I010370257-00,03125,Warrant Arrests,WARRANT ARREST,E13,569,,2016-05-31 19:35:00,2016,5,Tuesday,19,Part Three,NEW WASHINGTON ST,42.30233307,-71.11156487,"(42.30233307, -71.11156487)"
319072,142052550,03125,Warrant Arrests,WARRANT ARREST,D4,903,,2015-06-22 00:12:00,2015,6,Monday,0,Part Three,WASHINGTON ST,42.33383935,-71.08029038,"(42.33383935, -71.08029038)"

In [16]:
df.to_optimus_pandas().cols.lower("OFFENSE_DESCRIPTION")

In [39]:
df.meta

{'profile': {'columns': {'INCIDENT_NUMBER': {'profiler_dtype': {'dtype': 'string'},
    'stats': {'match': 319073,
     'missing': 0,
     'mismatch': 0,
     'profiler_dtype': {'dtype': 'string'},
     'frequency': [{'value': 'I162030584', 'count': 13},
      {'value': 'I152080623', 'count': 11},
      {'value': 'I172013170', 'count': 10},
      {'value': 'I182065208', 'count': 10},
      {'value': 'I172096394', 'count': 10},
      {'value': 'I162071327', 'count': 9},
      {'value': 'I162001871', 'count': 9},
      {'value': 'I172056883', 'count': 9},
      {'value': 'I172054429', 'count': 9},
      {'value': 'I162098170', 'count': 9},
      {'value': 'I172022524', 'count': 9},
      {'value': 'I152076465', 'count': 8},
      {'value': 'I172053616', 'count': 8},
      {'value': 'I152105431', 'count': 8},
      {'value': 'I162082917', 'count': 8},
      {'value': 'I162064331', 'count': 8},
      {'value': 'I162056703', 'count': 8},
      {'value': 'I130041200-00', 'count': 8},
      {'value': 'I162087224', 'count': 8},
      {'value': 'I162022140', 'count': 8},
      {'value': 'I172069723', 'count': 8},
      {'value': 'I162090278', 'count': 8},
      {'value': 'I162074826', 'count': 8},
      {'value': 'I162078338', 'count': 8},
      {'value': 'I152101399', 'count': 7},
      {'value': 'I152095733', 'count': 7},
      {'value': 'I162054378', 'count': 7},
      {'value': 'I152067057', 'count': 7},
      {'value': 'I152096998', 'count': 7},
      {'value': 'I172018004', 'count': 7},
      {'value': 'I162083089', 'count': 7},
      {'value': 'I162045680', 'count': 7},
      {'value': 'I152071480', 'count': 7}],
     'count_uniques': 282517},
    'dtype': 'object'}},
  'name': None,
  'file_name': None,
  'summary': {'cols_count': 17,
   'rows_count': 319073,
   'dtypes_list': ['object'],
   'total_count_dtypes': 1,
   'missing_count': 0,
   'p_missing': 0.0}},
 'transformations': {'actions': []}}

In [10]:
df[0]

In [11]:
import dask
from dask.dataframe import from_delayed


def oset(col_name, expr, where):
    
    where = (where.data[where.cols.names(0)[0]]).to_delayed()
    ddf = df.to_delayed()
    
    def func(_df, _col_name, _mask):
        
        _df.loc[_mask,[_col_name]]=expr(_df)
        return _df

    for _part,_mask in zip(ddf, where):
        delayed_parts = dask.delayed(func)(_part, col_name, _mask)

    return from_delayed(delayed_parts)

col_name="INCIDENT_NUMBER"
where= ((df[col_name]=="I182070945") | (df["DISTRICT"]=="I182070945"))
F = df.functions

def expr(series):
    return F.lower(series["OFFENSE_CODE_GROUP"])


oset(col_name, expr, where).compute()

,INCIDENT_NUMBER,OFFENSE_CODE,OFFENSE_CODE_GROUP,OFFENSE_DESCRIPTION,DISTRICT,REPORTING_AREA,SHOOTING,OCCURRED_ON_DATE,YEAR,MONTH,DAY_OF_WEEK,HOUR,UCR_PART,STREET,Lat,Long,Location
0,larceny,00619,Larceny,LARCENY ALL OTHERS,D14,808,,2018-09-02 13:00:00,2018,9,Sunday,13,Part One,LINCOLN ST,42.35779134,-71.13937053,"(42.35779134, -71.13937053)"
1,I182070943,01402,Vandalism,VANDALISM,C11,347,,2018-08-21 00:00:00,2018,8,Tuesday,0,Part Two,HECLA ST,42.30682138,-71.06030035,"(42.30682138, -71.06030035)"
2,I182070941,03410,Towed,TOWED MOTOR VEHICLE,D4,151,,2018-09-03 19:27:00,2018,9,Monday,19,Part Three,CAZENOVE ST,42.34658879,-71.07242943,"(42.34658879, -71.07242943)"
3,I182070940,03114,Investigate Property,INVESTIGATE PROPERTY,D4,272,,2018-09-03 21:16:00,2018,9,Monday,21,Part Three,NEWCOMB ST,42.33418175,-71.07866441,"(42.33418175, -71.07866441)"
4,I182070938,03114,Investigate Property,INVESTIGATE PROPERTY,B3,421,,2018-09-03 21:05:00,2018,9,Monday,21,Part Three,DELHI ST,42.27536542,-71.09036101,"(42.27536542, -71.09036101)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
319068,I050310906-00,03125,Warrant Arrests,WARRANT ARREST,D4,285,,2016-06-05 17:25:00,2016,6,Sunday,17,Part Three,COVENTRY ST,42.33695098,-71.08574813,"(42.33695098, -71.08574813)"
319069,I030217815-08,00111,Homicide,"MURDER, NON-NEGLIGIENT MANSLAUGHTER",E18,520,,2015-07-09 13:38:00,2015,7,Thursday,13,Part One,RIVER ST,42.25592648,-71.12317207,"(42.25592648, -71.12317207)"
319070,I030217815-08,03125,Warrant Arrests,WARRANT ARREST,E18,520,,2015-07-09 13:38:00,2015,7,Thursday,13,Part Three,RIVER ST,42.25592648,-71.12317207,"(42.25592648, -71.12317207)"
319071,I010370257-00,03125,Warrant Arrests,WARRANT ARREST,E13,569,,2016-05-31 19:35:00,2016,5,Tuesday,19,Part Three,NEW WASHINGTON ST,42.30233307,-71.11156487,"(42.30233307, -71.11156487)"
319072,142052550,03125,Warrant Arrests,WARRANT ARREST,D4,903,,2015-06-22 00:12:00,2015,6,Monday,0,Part Three,WASHINGTON ST,42.33383935,-71.08029038,"(42.33383935, -71.08029038)"