In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import sys
sys.path.append("..")

In [3]:
from optimus import Optimus

In [4]:
op= Optimus("dask", comm=True)

In [5]:
from dask import dataframe as dd
df = dd.read_csv("https://raw.githubusercontent.com/ironmussa/Optimus/master/examples/data/foo.csv", sep=",")

In [39]:
from dask import dataframe as dd
df = dd.read_csv("data/foo.csv", sep=",").head(20)

C:\Users\argenisleon\Anaconda3\lib\site-packages\dask\dataframe\core.py:4382: UserWarning: Insufficient elements for `head`. 20 elements requested, only 19 elements available. Try passing larger `npartitions` to `head`.
  warnings.warn(msg.format(n, len(r)))

In [52]:
df.rows.between("id",1,5).ext.display()

In [54]:
df1 = df.rows.append(df)

In [55]:
df1.ext.display()

In [ ]:
#https://github.com/dask/dask/pull/4229#issuecomment-449123512

In [178]:
df["id"].mode().compute()

AttributeError: 'Series' object has no attribute 'mode'

In [114]:
import pandas as pd

In [6]:
df = pd.read_csv("https://raw.githubusercontent.com/ironmussa/Optimus/master/examples/data/foo.csv", sep=",", header=0)

NameError: name 'pd' is not defined

In [21]:
df.head(20)

C:\Users\argenisleon\Anaconda3\lib\site-packages\dask\dataframe\core.py:4382: UserWarning: Insufficient elements for `head`. 20 elements requested, only 13 elements available. Try passing larger `npartitions` to `head`.
  warnings.warn(msg.format(n, len(r)))

,id,firstName,lastName,billingId,product,price,birth,dummyCol
0,1,Luis,Alvarez$$%!,123.0,Cake,10.0,1980/07/07,never
1,2,André,Ampère,423.0,piza,8.0,1950/07/08,gonna
2,3,NiELS,Böhr//((%%,551.0,pizza,8.0,1990/07/09,give
3,4,PAUL,dirac$,521.0,pizza,8.0,1954/07/10,you
4,5,Albert,Einstein,634.0,pizza,8.0,1990/07/11,up
5,6,Galileo,GALiLEI,672.0,arepa,5.0,1930/08/12,never
6,7,CaRL,Ga%%%uss,323.0,taco,3.0,1970/07/13,gonna
7,8,David,H$$$ilbert,624.0,taaaccoo,3.0,1950/07/14,let
8,9,Johannes,KEPLER,735.0,taco,3.0,1920/04/22,you
9,10,JaMES,M$$ax%%well,875.0,taco,3.0,1923/03/12,down
10,11,Isaac,Newton,992.0,pasta,9.0,1999/02/15,never
11,12,Emmy%%,Nöether$,234.0,pasta,9.0,1993/12/08,gonna
12,13,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
df.cols.names()

['id',
 'firstName',
 'lastName',
 'billingId',
 'product',
 'price',
 'birth',
 'dummyCol']

In [6]:
df = op.load.csv("https://raw.githubusercontent.com/ironmussa/Optimus/master/examples/data/foo.csv", sep=",", header=True, infer_schema='false', null_value="None")

https://raw.githubusercontent.com/ironmussa/Optimus/master/examples/data/foo.csv

In [9]:
df.ext.display()

In [7]:
df.cols.min("")

TypeError: min() missing 1 required positional argument: 'columns'

In [21]:
df.rows.sort("billingId","asc").ext.display()

TypeError: Can't instantiate abstract class Cols with abstract methods apply_by_dtypes, apply_expr, astype, boxplot, bucketizer, cell, clip, copy, correlation, count_mismatch, count_na, count_uniques, count_zeros, drop, frequency_by_group, get_meta, impute, index_to_string, iqr, is_na, keep, max_abs_scaler, min_max_scaler, move, nunique, qcut, remove, remove_accents, remove_special_chars, remove_white_spaces, replace_regex, reverse, scatter, select_by_dtypes, set, set_meta, sort, string_to_index, to_timestamp, unique, value_counts, values_to_cols, years_between, z_score

In [36]:
df.cols.max("price")

{'max': {'price': 10.0}}

In [ ]:

df.cols.create_expr()

In [30]:
df.dropna(how='any', subset=['price'])

Dask DataFrame Structure:
                  id firstName lastName billingId product    price   birth dummyCol
npartitions=1
               int64    object   object   float64  object  float64  object   object
                 ...       ...      ...       ...     ...      ...     ...      ...
Dask Name: dropna, 4 tasks

In [32]:
df.rows.drop_na("price").ext.display()

any price

In [12]:
c = df.cols.names()

In [9]:
df.set_index("billingId").reset_index()[c].head()

C:\Users\argenisleon\Anaconda3\lib\site-packages\numpy\lib\function_base.py:3652: RuntimeWarning: Invalid value encountered in percentile
  interpolation=interpolation)

   id firstName     lastName  billingId product  price       birth dummyCol
0   1      Luis  Alvarez$$%!      123.0    Cake   10.0  1980/07/07    never
1  12    Emmy%%     Nöether$      234.0   pasta    9.0  1993/12/08    gonna
2   7      CaRL     Ga%%%uss      323.0    taco    3.0  1970/07/13    gonna
3   2     André       Ampère      423.0    piza    8.0  1950/07/08    gonna
4   4      PAUL       dirac$      521.0   pizza    8.0  1954/07/10      you

In [172]:
df.cols.mode("id")

       price
price
3.0      3.0
5.0      5.0
8.0      8.0
9.0      9.0
10.0    10.0

In [132]:
df.ext.display(20)

In [103]:
df1= op.load.csv("data/foo.csv", sep=",", header=True, infer_schema='true', charset="ISO-8859–1", null_value="None")

data/foo.csv

In [108]:
df1.ext.display(20)

In [70]:
df.cols.dtypes()

{'id': 'int64',
 'firstName': 'object',
 'lastName': 'object',
 'billingId': 'float64',
 'product': 'object',
 'price': 'float64',
 'birth': 'object',
 'dummyCol': 'object'}

In [65]:
df.ext.display(20)

20

In [8]:
df.save.csv("data/dask/*.csv")

In [9]:
df.save.parquet("data/dask/foo.parquet")

In [11]:
df.save.json("data/dask/*.json")

In [12]:
df.rows.create_id()

Dask DataFrame Structure:
                  id firstName lastName billingId product    price   birth dummyCol
npartitions=1
               int64    object   object   float64  object  float64  object   object
                 ...       ...      ...       ...     ...      ...     ...      ...
Dask Name: from-delayed, 3 tasks

TypeError: unsupported operand type(s) for +: 'NoneType' and 'int'

In [36]:
df1 = df[(df.id > 0) & (df.id <= 7)]
df2 = df1[(df.id > 0) & (df.id <= 3)]

In [38]:
df2.compute().head()

C:\Users\argenisleon\Anaconda3\lib\site-packages\dask\utils.py:694: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  return getattr(obj, self.method)(*args, **kwargs)

   id firstName     lastName  billingId product  price       birth dummyCol
0   1      Luis  Alvarez$$%!      123.0    Cake   10.0  1980/07/07    never
1   2    AndrÃ©      AmpÃ¨re      423.0    piza    8.0  1950/07/08    gonna
2   3     NiELS  BÃ¶hr//((%%      551.0   pizza    8.0  1990/07/09     give

In [61]:
df.rows.select((df.id ==1 ) ).ext.display()

In [58]:
df.rows.select_by_dtypes("id", "str").ext.display()

AttributeError: 'NoneType' object has no attribute '_jvm'

In [59]:
df.set_index('price').compute()

C:\Users\argenisleon\Anaconda3\lib\site-packages\numpy\lib\function_base.py:3652: RuntimeWarning: Invalid value encountered in percentile
  interpolation=interpolation)

,id,firstName,lastName,billingId,product,birth,dummyCol
price,,,,,,,
3.0,7,CaRL,Ga%%%uss,323.0,taco,1970/07/13,gonna
3.0,8,David,H$$$ilbert,624.0,taaaccoo,1950/07/14,let
3.0,9,Johannes,KEPLER,735.0,taco,1920/04/22,you
3.0,10,JaMES,M$$ax%%well,875.0,taco,1923/03/12,down
5.0,6,Galileo,GALiLEI,672.0,arepa,1930/08/12,never
8.0,2,AndrÃ©,AmpÃ¨re,423.0,piza,1950/07/08,gonna
8.0,3,NiELS,BÃ¶hr//((%%,551.0,pizza,1990/07/09,give
8.0,4,PAUL,dirac$,521.0,pizza,1954/07/10,you
8.0,5,Albert,Einstein,634.0,pizza,1990/07/11,up
9.0,11,Isaac,Newton,992.0,pasta,1999/02/15,never
9.0,12,Emmy%%,NÃ¶ether$,234.0,pasta,1993/12/08,gonna
10.0,1,Luis,Alvarez$$%!,123.0,Cake,1980/07/07,never
NaN,13,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
%%time
df.cols.min(["billingId"])

Wall time: 195 ms

{'min': {'billingId': 123.0}}

In [9]:
%%time
df.cols.max(["billingId"])

Wall time: 152 ms

{'max': {'billingId': 992.0}}

In [10]:
df.cols.names()

['id',
 'firstName',
 'lastName',
 'billingId',
 'product',
 'price',
 'birth',
 'dummyCol']

In [11]:
df.meta.get()

{'file_name': 'foo.csv', 'transformations': {'actions': {}}}

In [12]:
df.cols.rename("id", "id1")

ValueError: Cannot rename index.

In [13]:
df.ext.display("all")

In [20]:
df.cols.remove_special_chars("lastName")

AttributeError: 'Cols' object has no attribute 'remove_special_chars'

In [9]:
df.ext.send()

Send!

In [24]:
df.ext.display()

In [25]:
df.cols.replace("lastName","$", "","chars")

ValueError: 'columns' must be 'not None', received 'None'

In [16]:
from optimus.profiler.profiler import Profiler
p = Profiler()

df.cols.count_by_dtypes("*")

{'id': {'int64': 13}, 'firstName': {'object': 13}, 'lastName': {'object': 13}, 'billingId': {'float64': 13}, 'product': {'object': 13}, 'price': {'float64': 13}, 'birth': {'object': 13}, 'dummyCol': {'object': 13}}

{'id': {'int': 13, 'float': 0, 'object': 0},
 'firstName': {'int': 0, 'float': 0, 'object': 13},
 'lastName': {'int': 0, 'float': 0, 'object': 13},
 'billingId': {'int': 0, 'float': 13, 'object': 0},
 'product': {'int': 0, 'float': 0, 'object': 13},
 'price': {'int': 0, 'float': 13, 'object': 0},
 'birth': {'int': 0, 'float': 0, 'object': 13},
 'dummyCol': {'int': 0, 'float': 0, 'object': 13}}

In [1]:
import dask
import dask.datasets
import numpy as np
import time
from distributed import Client

client = Client()
client

df = dask.datasets.timeseries()
df = df.repartition(npartitions=300)
df = client.persist(df)

C:\Users\argenisleon\Anaconda3\lib\site-packages\dask\dataframe\io\demo.py:91: FutureWarning: Creating a DatetimeIndex by passing range endpoints is deprecated.  Use `pandas.date_range` instead.
  freq=partition_freq))
C:\Users\argenisleon\Anaconda3\lib\site-packages\dask\dataframe\io\demo.py:45: FutureWarning: Creating a DatetimeIndex by passing range endpoints is deprecated.  Use `pandas.date_range` instead.
  index = pd.DatetimeIndex(start=start, end=end, freq=freq, name='timestamp')

In [4]:
def random_indexer(df):
    indexer = ~df.index.isnull()
    for i in range(np.random.randint(15)+1):
        col = np.random.choice(['x','y'])
        value = np.random.uniform(-1,1)
        op = np.random.choice([lambda x, y: x < y, lambda x, y: x > y])
        indexer = np.logical_and(indexer, op(df[col], value))
    return indexer

def random_statistic(indexer, df):
    print(indexer)
    col = np.random.choice(['x', 'y', 'name'])
    if col == 'name':
        op = np.random.choice([lambda x: x.unique().size, np.min, np.max])
    else:
        op = np.random.choice([lambda x: x.unique().size, np.min, np.max, np.sum, np.mean])
    return op(df[col][indexer])

np.random.seed(137)

stats = []
for i in range(10):
    ind = random_indexer(df)
    for k in range(20):
        stats.append(random_statistic(ind, df))

st = time.time()
print(stats)
# stat_computed = client.compute(stats)
ft = time.time()
print(ft-st)

st = time.time()
# stat_results = client.gather(stat_computed)
ft = time.time()
print(ft-st)

Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: x, dtype: bool
Dask Name: logical_and, 10800 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: x, dtype: bool
Dask Name: logical_and, 10800 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: x, dtype: bool
Dask Name: logical_and, 10800 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: x, dtype: bool
Dask Name: logical_and, 10800 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: x, dtype: bool
Dask Name: logical_and, 10800 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: x, dtype: bool
Dask Name: logical_and, 10800 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: x, dtype: bool
Dask Name: logical_and, 10800 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: x, dtype: bool
Dask Name: logical_and, 10800 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: x, dtype: bool
Dask Name: logical_and, 10800 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: x, dtype: bool
Dask Name: logical_and, 10800 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: x, dtype: bool
Dask Name: logical_and, 10800 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: x, dtype: bool
Dask Name: logical_and, 10800 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: x, dtype: bool
Dask Name: logical_and, 10800 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: x, dtype: bool
Dask Name: logical_and, 10800 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: x, dtype: bool
Dask Name: logical_and, 10800 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: x, dtype: bool
Dask Name: logical_and, 10800 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: x, dtype: bool
Dask Name: logical_and, 10800 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: x, dtype: bool
Dask Name: logical_and, 10800 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: x, dtype: bool
Dask Name: logical_and, 10800 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: x, dtype: bool
Dask Name: logical_and, 10800 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: y, dtype: bool
Dask Name: logical_and, 7200 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: y, dtype: bool
Dask Name: logical_and, 7200 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: y, dtype: bool
Dask Name: logical_and, 7200 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: y, dtype: bool
Dask Name: logical_and, 7200 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: y, dtype: bool
Dask Name: logical_and, 7200 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: y, dtype: bool
Dask Name: logical_and, 7200 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: y, dtype: bool
Dask Name: logical_and, 7200 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: y, dtype: bool
Dask Name: logical_and, 7200 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: y, dtype: bool
Dask Name: logical_and, 7200 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: y, dtype: bool
Dask Name: logical_and, 7200 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: y, dtype: bool
Dask Name: logical_and, 7200 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: y, dtype: bool
Dask Name: logical_and, 7200 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: y, dtype: bool
Dask Name: logical_and, 7200 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: y, dtype: bool
Dask Name: logical_and, 7200 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: y, dtype: bool
Dask Name: logical_and, 7200 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: y, dtype: bool
Dask Name: logical_and, 7200 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: y, dtype: bool
Dask Name: logical_and, 7200 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: y, dtype: bool
Dask Name: logical_and, 7200 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: y, dtype: bool
Dask Name: logical_and, 7200 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: y, dtype: bool
Dask Name: logical_and, 7200 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: y, dtype: bool
Dask Name: logical_and, 2100 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: y, dtype: bool
Dask Name: logical_and, 2100 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: y, dtype: bool
Dask Name: logical_and, 2100 tasks

Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: y, dtype: bool
Dask Name: logical_and, 2100 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: y, dtype: bool
Dask Name: logical_and, 2100 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: y, dtype: bool
Dask Name: logical_and, 2100 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: y, dtype: bool
Dask Name: logical_and, 2100 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: y, dtype: bool
Dask Name: logical_and, 2100 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: y, dtype: bool
Dask Name: logical_and, 2100 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: y, dtype: bool
Dask Name: logical_and, 2100 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: y, dtype: bool
Dask Name: logical_and, 2100 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: y, dtype: bool
Dask Name: logical_and, 2100 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: y, dtype: bool
Dask Name: logical_and, 2100 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: y, dtype: bool
Dask Name: logical_and, 2100 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: y, dtype: bool
Dask Name: logical_and, 2100 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: y, dtype: bool
Dask Name: logical_and, 2100 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: y, dtype: bool
Dask Name: logical_and, 2100 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: y, dtype: bool
Dask Name: logical_and, 2100 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: y, dtype: bool
Dask Name: logical_and, 2100 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: y, dtype: bool
Dask Name: logical_and, 2100 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: y, dtype: bool
Dask Name: logical_and, 3600 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: y, dtype: bool
Dask Name: logical_and, 3600 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: y, dtype: bool
Dask Name: logical_and, 3600 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: y, dtype: bool
Dask Name: logical_and, 3600 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: y, dtype: bool
Dask Name: logical_and, 3600 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: y, dtype: bool
Dask Name: logical_and, 3600 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: y, dtype: bool
Dask Name: logical_and, 3600 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: y, dtype: bool
Dask Name: logical_and, 3600 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: y, dtype: bool
Dask Name: logical_and, 3600 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: y, dtype: bool
Dask Name: logical_and, 3600 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: y, dtype: bool
Dask Name: logical_and, 3600 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: y, dtype: bool
Dask Name: logical_and, 3600 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: y, dtype: bool
Dask Name: logical_and, 3600 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: y, dtype: bool
Dask Name: logical_and, 3600 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: y, dtype: bool
Dask Name: logical_and, 3600 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: y, dtype: bool
Dask Name: logical_and, 3600 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: y, dtype: bool
Dask Name: logical_and, 3600 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: y, dtype: bool
Dask Name: logical_and, 3600 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: y, dtype: bool
Dask Name: logical_and, 3600 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: y, dtype: bool
Dask Name: logical_and, 3600 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: x, dtype: bool
Dask Name: logical_and, 7800 tasks

Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: x, dtype: bool
Dask Name: logical_and, 7800 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: x, dtype: bool
Dask Name: logical_and, 7800 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: x, dtype: bool
Dask Name: logical_and, 7800 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: x, dtype: bool
Dask Name: logical_and, 7800 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: x, dtype: bool
Dask Name: logical_and, 7800 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: x, dtype: bool
Dask Name: logical_and, 7800 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: x, dtype: bool
Dask Name: logical_and, 7800 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: x, dtype: bool
Dask Name: logical_and, 7800 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: x, dtype: bool
Dask Name: logical_and, 7800 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: x, dtype: bool
Dask Name: logical_and, 7800 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: x, dtype: bool
Dask Name: logical_and, 7800 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: x, dtype: bool
Dask Name: logical_and, 7800 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: x, dtype: bool
Dask Name: logical_and, 7800 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: x, dtype: bool
Dask Name: logical_and, 7800 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: x, dtype: bool
Dask Name: logical_and, 7800 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: x, dtype: bool
Dask Name: logical_and, 7800 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: x, dtype: bool
Dask Name: logical_and, 7800 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: x, dtype: bool
Dask Name: logical_and, 7800 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: x, dtype: bool
Dask Name: logical_and, 7800 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: y, dtype: bool
Dask Name: logical_and, 9600 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: y, dtype: bool
Dask Name: logical_and, 9600 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: y, dtype: bool
Dask Name: logical_and, 9600 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: y, dtype: bool
Dask Name: logical_and, 9600 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: y, dtype: bool
Dask Name: logical_and, 9600 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: y, dtype: bool
Dask Name: logical_and, 9600 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: y, dtype: bool
Dask Name: logical_and, 9600 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: y, dtype: bool
Dask Name: logical_and, 9600 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: y, dtype: bool
Dask Name: logical_and, 9600 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: y, dtype: bool
Dask Name: logical_and, 9600 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: y, dtype: bool
Dask Name: logical_and, 9600 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: y, dtype: bool
Dask Name: logical_and, 9600 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: y, dtype: bool
Dask Name: logical_and, 9600 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: y, dtype: bool
Dask Name: logical_and, 9600 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: y, dtype: bool
Dask Name: logical_and, 9600 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: y, dtype: bool
Dask Name: logical_and, 9600 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: y, dtype: bool
Dask Name: logical_and, 9600 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: y, dtype: bool
Dask Name: logical_and, 9600 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: y, dtype: bool
Dask Name: logical_and, 9600 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: y, dtype: bool
Dask Name: logical_and, 9600 tasks

Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: y, dtype: bool
Dask Name: logical_and, 6600 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: y, dtype: bool
Dask Name: logical_and, 6600 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: y, dtype: bool
Dask Name: logical_and, 6600 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: y, dtype: bool
Dask Name: logical_and, 6600 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: y, dtype: bool
Dask Name: logical_and, 6600 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: y, dtype: bool
Dask Name: logical_and, 6600 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: y, dtype: bool
Dask Name: logical_and, 6600 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: y, dtype: bool
Dask Name: logical_and, 6600 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: y, dtype: bool
Dask Name: logical_and, 6600 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: y, dtype: bool
Dask Name: logical_and, 6600 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: y, dtype: bool
Dask Name: logical_and, 6600 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: y, dtype: bool
Dask Name: logical_and, 6600 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: y, dtype: bool
Dask Name: logical_and, 6600 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: y, dtype: bool
Dask Name: logical_and, 6600 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: y, dtype: bool
Dask Name: logical_and, 6600 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: y, dtype: bool
Dask Name: logical_and, 6600 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: y, dtype: bool
Dask Name: logical_and, 6600 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: y, dtype: bool
Dask Name: logical_and, 6600 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: y, dtype: bool
Dask Name: logical_and, 6600 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: y, dtype: bool
Dask Name: logical_and, 6600 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: y, dtype: bool
Dask Name: logical_and, 7800 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: y, dtype: bool
Dask Name: logical_and, 7800 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: y, dtype: bool
Dask Name: logical_and, 7800 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: y, dtype: bool
Dask Name: logical_and, 7800 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: y, dtype: bool
Dask Name: logical_and, 7800 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: y, dtype: bool
Dask Name: logical_and, 7800 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: y, dtype: bool
Dask Name: logical_and, 7800 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: y, dtype: bool
Dask Name: logical_and, 7800 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: y, dtype: bool
Dask Name: logical_and, 7800 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: y, dtype: bool
Dask Name: logical_and, 7800 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: y, dtype: bool
Dask Name: logical_and, 7800 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: y, dtype: bool
Dask Name: logical_and, 7800 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: y, dtype: bool
Dask Name: logical_and, 7800 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: y, dtype: bool
Dask Name: logical_and, 7800 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: y, dtype: bool
Dask Name: logical_and, 7800 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: y, dtype: bool
Dask Name: logical_and, 7800 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: y, dtype: bool
Dask Name: logical_and, 7800 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: y, dtype: bool
Dask Name: logical_and, 7800 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: y, dtype: bool
Dask Name: logical_and, 7800 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: y, dtype: bool
Dask Name: logical_and, 7800 tasks

Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: y, dtype: bool
Dask Name: logical_and, 9600 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: y, dtype: bool
Dask Name: logical_and, 9600 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: y, dtype: bool
Dask Name: logical_and, 9600 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: y, dtype: bool
Dask Name: logical_and, 9600 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: y, dtype: bool
Dask Name: logical_and, 9600 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: y, dtype: bool
Dask Name: logical_and, 9600 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: y, dtype: bool
Dask Name: logical_and, 9600 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: y, dtype: bool
Dask Name: logical_and, 9600 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: y, dtype: bool
Dask Name: logical_and, 9600 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: y, dtype: bool
Dask Name: logical_and, 9600 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: y, dtype: bool
Dask Name: logical_and, 9600 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: y, dtype: bool
Dask Name: logical_and, 9600 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: y, dtype: bool
Dask Name: logical_and, 9600 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: y, dtype: bool
Dask Name: logical_and, 9600 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: y, dtype: bool
Dask Name: logical_and, 9600 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: y, dtype: bool
Dask Name: logical_and, 9600 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: y, dtype: bool
Dask Name: logical_and, 9600 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: y, dtype: bool
Dask Name: logical_and, 9600 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: y, dtype: bool
Dask Name: logical_and, 9600 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: y, dtype: bool
Dask Name: logical_and, 9600 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: x, dtype: bool
Dask Name: logical_and, 10800 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: x, dtype: bool
Dask Name: logical_and, 10800 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: x, dtype: bool
Dask Name: logical_and, 10800 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: x, dtype: bool
Dask Name: logical_and, 10800 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: x, dtype: bool
Dask Name: logical_and, 10800 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: x, dtype: bool
Dask Name: logical_and, 10800 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: x, dtype: bool
Dask Name: logical_and, 10800 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: x, dtype: bool
Dask Name: logical_and, 10800 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: x, dtype: bool
Dask Name: logical_and, 10800 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: x, dtype: bool
Dask Name: logical_and, 10800 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: x, dtype: bool
Dask Name: logical_and, 10800 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: x, dtype: bool
Dask Name: logical_and, 10800 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: x, dtype: bool
Dask Name: logical_and, 10800 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: x, dtype: bool
Dask Name: logical_and, 10800 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: x, dtype: bool
Dask Name: logical_and, 10800 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: x, dtype: bool
Dask Name: logical_and, 10800 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: x, dtype: bool
Dask Name: logical_and, 10800 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: x, dtype: bool
Dask Name: logical_and, 10800 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: x, dtype: bool
Dask Name: logical_and, 10800 tasks
Dask Series Structure:
npartitions=300
2000-01-01 00:00:00    bool
2000-01-01 02:24:00     ...
                       ...
2000-01-30 21:36:00     ...
2000-01-31 00:00:00     ...
Name: x, dtype: bool
Dask Name: logical_and, 10800 tasks
[dd.Scalar<series-..., dtype=float64>, dd.Scalar<series-..., dtype=float64>, dd.Scalar<series-..., dtype=<U3>, dd.Scalar<series-..., dtype=<U3>, dd.Scalar<series-..., dtype=float64>, dd.Scalar<series-..., dtype=<U3>, dd.Scalar<series-..., dtype=float64>, dd.Scalar<series-..., dtype=float64>, dd.Scalar<series-..., dtype=float64>, dd.Scalar<series-..., dtype=float64>, dd.Scalar<size-ag..., dtype=int32>, dd.Scalar<series-..., dtype=float64>, dd.Scalar<series-..., dtype=float64>, dd.Scalar<series-..., dtype=float64>, dd.Scalar<series-..., dtype=float64>, dd.Scalar<series-..., dtype=float64>, dd.Scalar<series-..., dtype=float64>, dd.Scalar<series-..., dtype=<U3>, dd.Scalar<size-ag..., dtype=int32>, dd.Scalar<size-ag..., dtype=int32>, dd.Scalar<series-..., dtype=float64>, dd.Scalar<size-ag..., dtype=int32>, dd.Scalar<series-..., dtype=float64>, dd.Scalar<series-..., dtype=float64>, dd.Scalar<size-ag..., dtype=int32>, dd.Scalar<series-..., dtype=float64>, dd.Scalar<size-ag..., dtype=int32>, dd.Scalar<size-ag..., dtype=int32>, dd.Scalar<series-..., dtype=<U3>, dd.Scalar<series-..., dtype=float64>, dd.Scalar<series-..., dtype=float64>, dd.Scalar<series-..., dtype=float64>, dd.Scalar<series-..., dtype=float64>, dd.Scalar<series-..., dtype=float64>, dd.Scalar<size-ag..., dtype=int32>, dd.Scalar<series-..., dtype=float64>, dd.Scalar<series-..., dtype=<U3>, dd.Scalar<series-..., dtype=float64>, dd.Scalar<series-..., dtype=float64>, dd.Scalar<size-ag..., dtype=int32>, dd.Scalar<series-..., dtype=float64>, dd.Scalar<size-ag..., dtype=int32>, dd.Scalar<series-..., dtype=float64>, dd.Scalar<size-ag..., dtype=int32>, dd.Scalar<size-ag..., dtype=int32>, dd.Scalar<series-..., dtype=float64>, dd.Scalar<series-..., dtype=float64>, dd.Scalar<size-ag..., dtype=int32>, dd.Scalar<series-..., dtype=float64>, dd.Scalar<size-ag..., dtype=int32>, dd.Scalar<series-..., dtype=float64>, dd.Scalar<series-..., dtype=<U3>, dd.Scalar<size-ag..., dtype=int32>, dd.Scalar<series-..., dtype=<U3>, dd.Scalar<series-..., dtype=<U3>, dd.Scalar<series-..., dtype=float64>, dd.Scalar<series-..., dtype=<U3>, dd.Scalar<size-ag..., dtype=int32>, dd.Scalar<size-ag..., dtype=int32>, dd.Scalar<series-..., dtype=float64>, dd.Scalar<size-ag..., dtype=int32>, dd.Scalar<size-ag..., dtype=int32>, dd.Scalar<size-ag..., dtype=int32>, dd.Scalar<series-..., dtype=float64>, dd.Scalar<series-..., dtype=float64>, dd.Scalar<series-..., dtype=float64>, dd.Scalar<size-ag..., dtype=int32>, dd.Scalar<series-..., dtype=float64>, dd.Scalar<series-..., dtype=float64>, dd.Scalar<series-..., dtype=float64>, dd.Scalar<size-ag..., dtype=int32>, dd.Scalar<series-..., dtype=float64>, dd.Scalar<series-..., dtype=float64>, dd.Scalar<series-..., dtype=float64>, dd.Scalar<series-..., dtype=float64>, dd.Scalar<size-ag..., dtype=int32>, dd.Scalar<series-..., dtype=float64>, dd.Scalar<size-ag..., dtype=int32>, dd.Scalar<series-..., dtype=float64>, dd.Scalar<series-..., dtype=float64>, dd.Scalar<series-..., dtype=float64>, dd.Scalar<size-ag..., dtype=int32>, dd.Scalar<series-..., dtype=float64>, dd.Scalar<series-..., dtype=float64>, dd.Scalar<series-..., dtype=float64>, dd.Scalar<series-..., dtype=float64>, dd.Scalar<series-..., dtype=float64>, dd.Scalar<size-ag..., dtype=int32>, dd.Scalar<series-..., dtype=float64>, dd.Scalar<series-..., dtype=float64>, dd.Scalar<series-..., dtype=float64>, dd.Scalar<size-ag..., dtype=int32>, dd.Scalar<series-..., dtype=float64>, dd.Scalar<series-..., dtype=float64>, dd.Scalar<series-..., dtype=float64>, dd.Scalar<series-..., dtype=float64>, dd.Scalar<series-..., dtype=<U3>, dd.Scalar<series-..., dtype=float64>, dd.Scalar<series-..., dtype=float64>, dd.Scalar<size-ag..., dtype=int32>, dd.Scalar<series-..., dtype=<U3>, dd.Scalar<size-ag..., dtype=int32>, dd.Scalar<size-ag..., dtype=int32>, dd.Scalar<series-..., dtype=<U3>, dd.Scalar<series-..., dtype=float64>, dd.Scalar<series-..., dtype=float64>, dd.Scalar<series-..., dtype=float64>, dd.Scalar<size-ag..., dtype=int32>, dd.Scalar<series-..., dtype=float64>, dd.Scalar<size-ag..., dtype=int32>, dd.Scalar<size-ag..., dtype=int32>, dd.Scalar<series-..., dtype=<U3>, dd.Scalar<series-..., dtype=float64>, dd.Scalar<size-ag..., dtype=int32>, dd.Scalar<series-..., dtype=<U3>, dd.Scalar<series-..., dtype=float64>, dd.Scalar<series-..., dtype=float64>, dd.Scalar<series-..., dtype=float64>, dd.Scalar<series-..., dtype=<U3>, dd.Scalar<series-..., dtype=float64>, dd.Scalar<series-..., dtype=float64>, dd.Scalar<series-..., dtype=float64>, dd.Scalar<size-ag..., dtype=int32>, dd.Scalar<series-..., dtype=<U3>, dd.Scalar<series-..., dtype=float64>, dd.Scalar<series-..., dtype=float64>, dd.Scalar<size-ag..., dtype=int32>, dd.Scalar<series-..., dtype=float64>, dd.Scalar<series-..., dtype=float64>, dd.Scalar<size-ag..., dtype=int32>, dd.Scalar<series-..., dtype=float64>, dd.Scalar<size-ag..., dtype=int32>, dd.Scalar<series-..., dtype=<U3>, dd.Scalar<series-..., dtype=float64>, dd.Scalar<size-ag..., dtype=int32>, dd.Scalar<series-..., dtype=float64>, dd.Scalar<size-ag..., dtype=int32>, dd.Scalar<series-..., dtype=<U3>, dd.Scalar<series-..., dtype=<U3>, dd.Scalar<series-..., dtype=<U3>, dd.Scalar<size-ag..., dtype=int32>, dd.Scalar<series-..., dtype=float64>, dd.Scalar<series-..., dtype=float64>, dd.Scalar<series-..., dtype=float64>, dd.Scalar<size-ag..., dtype=int32>, dd.Scalar<series-..., dtype=<U3>, dd.Scalar<series-..., dtype=<U3>, dd.Scalar<series-..., dtype=<U3>, dd.Scalar<series-..., dtype=float64>, dd.Scalar<series-..., dtype=float64>, dd.Scalar<series-..., dtype=float64>, dd.Scalar<series-..., dtype=float64>, dd.Scalar<series-..., dtype=float64>, dd.Scalar<series-..., dtype=float64>, dd.Scalar<series-..., dtype=<U3>, dd.Scalar<series-..., dtype=float64>, dd.Scalar<series-..., dtype=float64>, dd.Scalar<series-..., dtype=float64>, dd.Scalar<series-..., dtype=<U3>, dd.Scalar<series-..., dtype=<U3>, dd.Scalar<series-..., dtype=<U3>, dd.Scalar<size-ag..., dtype=int32>, dd.Scalar<size-ag..., dtype=int32>, dd.Scalar<series-..., dtype=<U3>, dd.Scalar<series-..., dtype=float64>, dd.Scalar<series-..., dtype=float64>, dd.Scalar<series-..., dtype=float64>, dd.Scalar<size-ag..., dtype=int32>, dd.Scalar<series-..., dtype=<U3>, dd.Scalar<series-..., dtype=<U3>, dd.Scalar<size-ag..., dtype=int32>, dd.Scalar<size-ag..., dtype=int32>, dd.Scalar<series-..., dtype=<U3>, dd.Scalar<series-..., dtype=float64>, dd.Scalar<series-..., dtype=float64>, dd.Scalar<size-ag..., dtype=int32>, dd.Scalar<series-..., dtype=float64>, dd.Scalar<series-..., dtype=float64>, dd.Scalar<series-..., dtype=float64>, dd.Scalar<series-..., dtype=float64>, dd.Scalar<series-..., dtype=float64>, dd.Scalar<series-..., dtype=float64>, dd.Scalar<series-..., dtype=float64>, dd.Scalar<series-..., dtype=float64>, dd.Scalar<series-..., dtype=float64>, dd.Scalar<series-..., dtype=float64>, dd.Scalar<series-..., dtype=float64>, dd.Scalar<series-..., dtype=float64>, dd.Scalar<series-..., dtype=float64>, dd.Scalar<series-..., dtype=<U3>, dd.Scalar<series-..., dtype=<U3>, dd.Scalar<series-..., dtype=float64>, dd.Scalar<series-..., dtype=<U3>, dd.Scalar<size-ag..., dtype=int32>, dd.Scalar<series-..., dtype=<U3>, dd.Scalar<series-..., dtype=float64>, dd.Scalar<series-..., dtype=float64>, dd.Scalar<size-ag..., dtype=int32>, dd.Scalar<series-..., dtype=float64>, dd.Scalar<series-..., dtype=float64>]
0.0030128955841064453
0.0

In [9]:
df.head()

CancelledError: ('repartition-merge-39715e6237c8baf832ed85d511f135a3', 0)

NameError: name 'op' is not defined

In [14]:
stat_computed = client.compute(np.mode(df["id"]))
stat_results = client.gather(stat_computed)

AttributeError: module 'numpy' has no attribute 'mode'

In [13]:
print(stat_results)

1