# This notebook create the tests in python code. All this cells must be run to executed the tests

In [231]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [232]:
import sys
sys.path.append("../..")

In [233]:
from optimus import Optimus
from optimus.helpers.test import Test

In [234]:
from optimus import Optimus
op = Optimus("dask", n_workers=1, threads_per_worker=8, processes=False, memory_limit="3G", comm=True)

In [235]:
import numpy as np
import pandas as pd

In [236]:
import pandas as pd
from pyspark.sql.types import *
from datetime import date, datetime

cols = [
    ("names", "str"),
    ("height(ft)", ShortType()),
    ("function", "str"),
    ("rank", ByteType()),
    ("age", "int"),
    ("weight(t)", "float"),
    "japanese name",
    "last position seen",
    "date arrival",
    "last date seen",
    ("attributes", ArrayType(FloatType())),
    ("Date Type", DateType()),
    ("timestamp", TimestampType()),
    ("Cybertronian", BooleanType()),
    ("function(binary)", BinaryType()),
    ("NullType", NullType())

]

rows = [
    ("Optim'us", -28, "Leader", 10, 5000000, 4.30, ["Inochi", "Convoy"], "19.442735,-99.201111", "1980/04/10",
     "2016/09/10", [8.5344, 4300.0], date(2016, 9, 10), datetime(2014, 6, 24), True, bytearray("Leader", "utf-8"),
     None),
    ("bumbl#ebéé  ", 17, "Espionage", 7, 5000000, 2.0, ["Bumble", "Goldback"], "10.642707,-71.612534", "1980/04/10",
     "2015/08/10", [5.334, 2000.0], date(2015, 8, 10), datetime(2014, 6, 24), True, bytearray("Espionage", "utf-8"),
     None),
    ("ironhide&", 26, "Security", 7, 5000000, 4.0, ["Roadbuster"], "37.789563,-122.400356", "1980/04/10",
     "2014/07/10", [7.9248, 4000.0], date(2014, 6, 24), datetime(2014, 6, 24), True, bytearray("Security", "utf-8"),
     None),
    ("Jazz", 13, "First Lieutenant", 8, 5000000, 1.80, ["Meister"], "33.670666,-117.841553", "1980/04/10",
     "2013/06/10", [3.9624, 1800.0], date(2013, 6, 24), datetime(2014, 6, 24), True,
     bytearray("First Lieutenant", "utf-8"), None),
    ("Megatron", None, "None", 10, 5000000, 5.70, ["Megatron"], None, "1980/04/10", "2012/05/10", [None, 5700.0],
     date(2012, 5, 10), datetime(2014, 6, 24), True, bytearray("None", "utf-8"), None),
    ("Metroplex_)^$", 300, "Battle Station", 8, 5000000, None, ["Metroflex"], None, "1980/04/10", "2011/04/10",
     [91.44, None], date(2011, 4, 10), datetime(2014, 6, 24), True, bytearray("Battle Station", "utf-8"), None),
    (None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None),

]

source_df = pd.DataFrame(columns = ['names','height(ft)','function',
                      'rank','age','weight(t)','japanese name','last position seen',
                      'date arrival','last date seen','attributes','Date Type','timestamp',
                      'Cybertronian','function(binary)','NullType'], 
             data= rows,
#              dtype = (object,object,object,
#                                 object,object,object,object,object,
#                                 object,object,object,object,object,
#                                 object,object)
            )

# from dask import dataframe as dd

# a=pd.DataFrame(source_df.to_dict())
from dask import dataframe as dd
source_df = dd.from_pandas(source_df, npartitions=1)

In [237]:
source_df

Dask DataFrame Structure:
                names height(ft) function     rank      age weight(t) japanese name last position seen date arrival last date seen attributes Date Type       timestamp Cybertronian function(binary) NullType
npartitions=1
0              object    float64   object  float64  float64   float64        object             object       object         object     object    object  datetime64[ns]       object           object   object
6                 ...        ...      ...      ...      ...       ...           ...                ...          ...            ...        ...       ...             ...          ...              ...      ...
Dask Name: from_pandas, 1 tasks

### End Init Section

# Test

## Columns Test

In [238]:
t = Test(op, source_df, "df_cols_dask", imports=["import numpy as np",
                                            "nan = np.nan",
                                            "import datetime",], path="df_cols_dask", final_path="..")

In [239]:
from pyspark.sql import functions as F


def func(col_name, attrs):
    return F.col(col_name) * 2


numeric_col = "height(ft)"
numeric_col_B = "rank"
numeric_col_C = "rank"
string_col = "function"
date_col = "date arrival"
date_col_B = "last date seen"
new_col = "new col"
array_col = "attributes"

In [240]:
t.create(source_df, "cols.string_to_index", None, "df", None, "names")

t.create(None, "cols.hist", None, "json", None, ["height(ft)", numeric_col_B], 4)

Creating test_cols_string_to_index() test function...
["'names'"]

TypeError: 'NoneType' object is not iterable

In [ ]:
source_df_index_to_string = source_df_string_to_index.cols.string_to_index("rank")

In [241]:
# FIX at creation time we los the metadata. Need to find a way to put it on the dataframe creation
t.delete(source_df_index_to_string, "cols.index_to_string", None, "df", None, "rank***STRING_TO_INDEX")

NameError: name 'source_df_index_to_string' is not defined

In [242]:
t.run()

Creating file ../test_df_cols_dask.py
Done

In [243]:
t.create(source_df_string_to_index, "cols.values_to_cols", None, "df", None, "rank")

NameError: name 'source_df_string_to_index' is not defined

In [ ]:
t.run()

In [244]:
t.create(source_df_string_to_index, "cols.values_to_cols", "all_columns", "df", None, ["names", "height(ft)"])

NameError: name 'source_df_string_to_index' is not defined

In [245]:
t.run()

Creating file ../test_df_cols_dask.py
Done

In [246]:
print(source_df.cols.remove(string_col))

TypeError: 'NoneType' object is not iterable

In [ ]:
t.create(None, "cols.remove", None, "df", None, string_col, "i")

In [247]:
t.run()

Creating file ../test_df_cols_dask.py
Done

In [248]:
t.create(None, "cols.remove", "list", "df", None, string_col, ["a", "i", "Es"])

Creating test_cols_remove_list() test function...
["'function'", "['a','i','Es']"]

C:\Users\argenisleon\Anaconda3\lib\site-packages\dask\dataframe\core.py:6157: UserWarning: Insufficient elements for `head`. 10 elements requested, only 7 elements available. Try passing larger `npartitions` to `head`.
  warnings.warn(msg.format(n, len(r)))

In [249]:
t.create(None, "cols.remove", "list_output", "df", None, string_col, ["a", "i", "Es"], output_cols=string_col + "_new")

Creating test_cols_remove_list_output() test function...
["'function'", "['a','i','Es']"]

C:\Users\argenisleon\Anaconda3\lib\site-packages\dask\dataframe\core.py:6157: UserWarning: Insufficient elements for `head`. 10 elements requested, only 7 elements available. Try passing larger `npartitions` to `head`.
  warnings.warn(msg.format(n, len(r)))

In [250]:
t.run()

Creating file ../test_df_cols_dask.py
Done

In [251]:
t.create(None, "cols.min", None, "json", None, numeric_col)

Creating test_cols_min() test function...
["'height(ft)'"]
{'height(ft)': -28.0}

In [252]:
source_df.cols.names()

['names',
 'height(ft)',
 'function',
 'rank',
 'age',
 'weight(t)',
 'japanese name',
 'last position seen',
 'date arrival',
 'last date seen',
 'attributes',
 'Date Type',
 'timestamp',
 'Cybertronian',
 'function(binary)',
 'NullType']

In [253]:
t.create(None, "cols.min", "all_columns", "json", None, "*")
t.run()

Creating test_cols_min_all_columns() test function...
["'*'"]
{'Cybertronian': True, 'NullType': nan, 'age': 5000000.0, 'height(ft)': -28.0, 'rank': 7.0, 'timestamp': Timestamp('2014-06-24 00:00:00'), 'weight(t)': 1.8}
Creating file ../test_df_cols_dask.py
Done

In [254]:
t.create(None, "cols.max", None, "json", None, numeric_col)

Creating test_cols_max() test function...
["'height(ft)'"]
{'height(ft)': 300.0}

In [255]:
t.create(None, "cols.max", "all_columns", "json", None, "*")
t.run()

Creating test_cols_max_all_columns() test function...
["'*'"]
{'Cybertronian': True, 'NullType': nan, 'age': 5000000.0, 'height(ft)': 300.0, 'rank': 10.0, 'timestamp': Timestamp('2014-06-24 00:00:00'), 'weight(t)': 5.7}
Creating file ../test_df_cols_dask.py
Done

In [256]:
t.create(None, "cols.range", None, "json", None, numeric_col)

Creating test_cols_range() test function...
["'height(ft)'"]

TypeError: agg_exprs() missing 1 required positional argument: 'df'

In [ ]:
t.create(None, "cols.range", "all_columns", "json", None, "*")

In [257]:
t.run()

Creating file ../test_df_cols_dask.py
Done

In [258]:
source_df.mean().compute()

height(ft)    6.560000e+01
rank          8.333333e+00
age           5.000000e+06
weight(t)     3.560000e+00
dtype: float64

In [259]:
t.create(None, "cols.median", None, "json", None, numeric_col)

Creating test_cols_median() test function...
["'height(ft)'"]
17.0

In [260]:
t.create(None, "cols.median", "all_columns", "json", None, "*")

Creating test_cols_median_all_columns() test function...
["'*'"]
{'height(ft)': 17.0, 'rank': 8.0, 'age': 5000000.0, 'weight(t)': 4.0}

In [261]:
t.run()

Creating file ../test_df_cols_dask.py
Done

In [262]:
t.create(None, "cols.percentile", None, "json", None, numeric_col, [0.05, 0.25], 1)

Creating test_cols_percentile() test function...
["'height(ft)'", '[0.05,0.25]', '1']
{'percentile': {0.05: -19.8, 0.25: 13.0}}

In [263]:
t.create(None, "cols.percentile", "all_columns", "json", None, "*", [0.05, 0.25], 1)

Creating test_cols_percentile_all_columns() test function...
["'*'", '[0.05,0.25]', '1']
{'percentile': {'height(ft)': {0.05: -19.8, 0.25: 13.0}, 'rank': {0.05: 7.0, 0.25: 7.25}, 'age': {0.05: 5000000.0, 0.25: 5000000.0}, 'weight(t)': {0.05: 1.8400000000000003, 0.25: 2.0}}}

## MAD

In [264]:
t.create(None, "cols.mad", None, "json", None, numeric_col)

Creating test_cols_mad() test function...
["'height(ft)'"]

AttributeError: 'NoneType' object has no attribute 'columns'

In [ ]:
t.create(None, "cols.mad", "all_columns", "json", None, "*")

In [265]:
t.run()

Creating file ../test_df_cols_dask.py
Done

In [266]:
source_df.min().compute()

height(ft)                      -28
rank                              7
age                           5e+06
weight(t)                       1.8
timestamp       2014-06-24 00:00:00
Cybertronian                   True
NullType                       None
dtype: object

In [267]:
source_df.cols.std("*")

{'stddev': {'height(ft)': 132.66612227694,
  'rank': 1.3662601021279464,
  'age': 0.0,
  'weight(t)': 1.6471186963907611}}

In [268]:
t.create(None, "cols.std", None, "json", None, numeric_col)

Creating test_cols_std() test function...
["'height(ft)'"]
{'stddev': {'height(ft)': 132.66612227694}}

In [269]:
t.create(None, "cols.std", "all_columns", "json", None, "*")
t.run()

Creating test_cols_std_all_columns() test function...
["'*'"]
{'stddev': {'height(ft)': 132.66612227694, 'rank': 1.3662601021279464, 'age': 0.0, 'weight(t)': 1.6471186963907611}}
Creating file ../test_df_cols_dask.py
Done

In [270]:
t.create(None, "cols.kurt", None, "json", None, numeric_col)
t.run()

Creating test_cols_kurt() test function...
["'height(ft)'"]
{'kurtosis': {'height(ft)': nan}}
Creating file ../test_df_cols_dask.py
Done

In [271]:
t.create(None, "cols.kurt", "all_columns", "json", None, "*")
t.run()

Creating test_cols_kurt_all_columns() test function...
["'*'"]
{'kurtosis': {'height(ft)': nan, 'rank': nan, 'age': nan, 'weight(t)': nan}}
Creating file ../test_df_cols_dask.py
Done

In [272]:
t.create(None, "cols.mean", None, "json",None, numeric_col)

Creating test_cols_mean() test function...
["'height(ft)'"]
{'mean': {'height(ft)': 65.6}}

In [273]:
t.create(None, "cols.mean", "all_columns", "json", None, "*")
t.run()

Creating test_cols_mean_all_columns() test function...
["'*'"]
{'mean': {'height(ft)': 65.6, 'rank': 8.333333333333334, 'age': 5000000.0, 'weight(t)': 3.56}}
Creating file ../test_df_cols_dask.py
Done

In [274]:
t.create(None, "cols.skewness", None, "json", None, numeric_col)

Creating test_cols_skewness() test function...
["'height(ft)'"]
{'skewness': {'height(ft)': nan}}

In [275]:
t.create(None, "cols.skewness", "all_columns", "json", None, "*")
t.run()

Creating test_cols_skewness_all_columns() test function...
["'*'"]
{'skewness': {'height(ft)': nan, 'rank': nan, 'age': nan, 'weight(t)': nan}}
Creating file ../test_df_cols_dask.py
Done

In [276]:
t.create(None, "cols.sum", None, "json", None,numeric_col)

Creating test_cols_sum() test function...
["'height(ft)'"]
328.0

In [277]:
t.create(None, "cols.sum", "all_columns", "json", None, "*")
t.run()

Creating test_cols_sum_all_columns() test function...
["'*'"]
{'height(ft)': 328.0, 'rank': 50.0, 'age': 30000000.0, 'weight(t)': 17.8}
Creating file ../test_df_cols_dask.py
Done

In [278]:
t.create(None, "cols.variance", None, "json",None, numeric_col)

Creating test_cols_variance() test function...
["'height(ft)'"]
17600.3

In [279]:
t.create(None, "cols.variance", "all_columns", "json", None, "*")
t.run()

Creating test_cols_variance_all_columns() test function...
["'*'"]
{'height(ft)': 17600.3, 'rank': 1.8666666666666665, 'age': 0.0, 'weight(t)': 2.713}
Creating file ../test_df_cols_dask.py
Done

In [280]:
source_df.ext.table()

C:\Users\argenisleon\Anaconda3\lib\site-packages\dask\dataframe\core.py:6157: UserWarning: Insufficient elements for `head`. 10 elements requested, only 7 elements available. Try passing larger `npartitions` to `head`.
  warnings.warn(msg.format(n, len(r)))

In [287]:
t.create(None, "cols.abs", None, "df", None, "weight(t)")

Creating test_cols_abs() test function...
["'weight(t)'"]
columns <zip object at 0x000001D80677E648>
output_cols <class 'zip'> <zip object at 0x000001D80677E648>

C:\Users\argenisleon\Anaconda3\lib\site-packages\dask\dataframe\core.py:6157: UserWarning: Insufficient elements for `head`. 10 elements requested, only 7 elements available. Try passing larger `npartitions` to `head`.
  warnings.warn(msg.format(n, len(r)))

In [288]:
t.create(None, "cols.abs", "all_columns", "df", None, "*")

Creating test_cols_abs_all_columns() test function...
["'*'"]
columns <zip object at 0x000001D806B48CC8>
output_cols <class 'zip'> <zip object at 0x000001D806B48CC8>

C:\Users\argenisleon\Anaconda3\lib\site-packages\dask\dataframe\core.py:6157: UserWarning: Insufficient elements for `head`. 10 elements requested, only 7 elements available. Try passing larger `npartitions` to `head`.
  warnings.warn(msg.format(n, len(r)))

In [290]:
source_df.ext.table()

C:\Users\argenisleon\Anaconda3\lib\site-packages\dask\dataframe\core.py:6157: UserWarning: Insufficient elements for `head`. 10 elements requested, only 7 elements available. Try passing larger `npartitions` to `head`.
  warnings.warn(msg.format(n, len(r)))

In [293]:
source_df.mode(dropna=True)

Dask DataFrame Structure:
                names height(ft) function     rank      age weight(t) japanese name last position seen date arrival last date seen attributes Date Type       timestamp Cybertronian function(binary) NullType
npartitions=1
               object    float64   object  float64  float64   float64        object             object       object         object     object    object  datetime64[ns]       object           object   object
                  ...        ...      ...      ...      ...       ...           ...                ...          ...            ...        ...       ...             ...          ...              ...      ...
Dask Name: concat, 66 tasks

In [335]:
t.create(None, "cols.mode", None, "json", None, numeric_col)

Creating test_cols_mode() test function...
["'height(ft)'"]
{'mode': {'height(ft)': [-28.0, 13.0, 17.0, 26.0, 300.0]}}

In [336]:
%%time
t.create(None, "cols.mode", "all_columns", "json", None, "*")

Creating test_cols_mode_all_columns() test function...
["'*'"]

TypeError: unhashable type: 'list'

TypeError: unhashable type: 'list'

TypeError: unhashable type: 'bytearray'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 1653, in pandas._libs.hashtable.PyObjectHashTable.map_locations
Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 1653, in pandas._libs.hashtable.PyObjectHashTable.map_locations
Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 1653, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'
TypeErrorTypeError: distributed.sizeof - WARNING - Sizeof calculation failed.  Defaulting to 1MB
Traceback (most recent call last):
  File "C:\Users\argenisleon\Anaconda3\lib\site-packages\distributed\sizeof.py", line 14, in safe_sizeof
    return sizeof(obj)
  File "C:\Users\argenisleon\Anaconda3\lib\site-packages\dask\utils.py", line 507, in __call__
    return meth(arg, *args, **kwargs)
  File "C:\Users\argenisleon\Anaconda3\lib\site-packages\dask\sizeof.py", line 104, in sizeof_pandas_dataframe
    for name, col in df.iteritems():
  File "C:\Users\argenisleon\AppData\Roaming\Python\Python37\site-packages\pandas\core\frame.py", line 901, in iteritems
    yield from self.items()
  File "C:\Users\argenisleon\AppData\Roaming\Python\Python37\site-packages\pandas\core\frame.py", line 897, in items
    yield k, self._ixs(i, axis=1)
  File "C:\Users\argenisleon\AppData\Roaming\Python\Python37\site-packages\pandas\core\frame.py", line 2760, in _ixs
    result = self._box_col_values(values, label)
  File "C:\Users\argenisleon\AppData\Roaming\Python\Python37\site-packages\pandas\core\frame.py", line 3078, in _box_col_values
    return klass(values, index=self.index, name=items, fastpath=True)
  File "C:\Users\argenisleon\AppData\Roaming\Python\Python37\site-packages\pandas\core\series.py", line 310, in __init__
    self.name = name
  File "C:\Users\argenisleon\AppData\Roaming\Python\Python37\site-packages\pandas\core\generic.py", line 5296, in __setattr__
    object.__setattr__(self, name, value)
  File "C:\Users\argenisleon\AppData\Roaming\Python\Python37\site-packages\pandas\core\series.py", line 435, in name
    raise TypeError("Series.name must be a hashable type")
TypeError: Series.name must be a hashable type
unhashable type: 'bytearray'
: unhashable type: 'list'
distributed.sizeof - WARNING - Sizeof calculation failed.  Defaulting to 1MB
Traceback (most recent call last):
  File "C:\Users\argenisleon\Anaconda3\lib\site-packages\distributed\sizeof.py", line 14, in safe_sizeof
    return sizeof(obj)
  File "C:\Users\argenisleon\Anaconda3\lib\site-packages\dask\utils.py", line 507, in __call__
    return meth(arg, *args, **kwargs)
  File "C:\Users\argenisleon\Anaconda3\lib\site-packages\dask\sizeof.py", line 104, in sizeof_pandas_dataframe
    for name, col in df.iteritems():
  File "C:\Users\argenisleon\AppData\Roaming\Python\Python37\site-packages\pandas\core\frame.py", line 901, in iteritems
    yield from self.items()
  File "C:\Users\argenisleon\AppData\Roaming\Python\Python37\site-packages\pandas\core\frame.py", line 897, in items
    yield k, self._ixs(i, axis=1)
  File "C:\Users\argenisleon\AppData\Roaming\Python\Python37\site-packages\pandas\core\frame.py", line 2760, in _ixs
    result = self._box_col_values(values, label)
  File "C:\Users\argenisleon\AppData\Roaming\Python\Python37\site-packages\pandas\core\frame.py", line 3078, in _box_col_values
    return klass(values, index=self.index, name=items, fastpath=True)
  File "C:\Users\argenisleon\AppData\Roaming\Python\Python37\site-packages\pandas\core\series.py", line 310, in __init__
    self.name = name
  File "C:\Users\argenisleon\AppData\Roaming\Python\Python37\site-packages\pandas\core\generic.py", line 5296, in __setattr__
    object.__setattr__(self, name, value)
  File "C:\Users\argenisleon\AppData\Roaming\Python\Python37\site-packages\pandas\core\series.py", line 435, in name
    raise TypeError("Series.name must be a hashable type")
TypeError: Series.name must be a hashable type
distributed.sizeof - WARNING - Sizeof calculation failed.  Defaulting to 1MB
Traceback (most recent call last):
  File "C:\Users\argenisleon\Anaconda3\lib\site-packages\distributed\sizeof.py", line 14, in safe_sizeof
    return sizeof(obj)
  File "C:\Users\argenisleon\Anaconda3\lib\site-packages\dask\utils.py", line 507, in __call__
    return meth(arg, *args, **kwargs)
  File "C:\Users\argenisleon\Anaconda3\lib\site-packages\dask\sizeof.py", line 104, in sizeof_pandas_dataframe
    for name, col in df.iteritems():
  File "C:\Users\argenisleon\AppData\Roaming\Python\Python37\site-packages\pandas\core\frame.py", line 901, in iteritems
    yield from self.items()
  File "C:\Users\argenisleon\AppData\Roaming\Python\Python37\site-packages\pandas\core\frame.py", line 897, in items
    yield k, self._ixs(i, axis=1)
  File "C:\Users\argenisleon\AppData\Roaming\Python\Python37\site-packages\pandas\core\frame.py", line 2760, in _ixs
    result = self._box_col_values(values, label)
  File "C:\Users\argenisleon\AppData\Roaming\Python\Python37\site-packages\pandas\core\frame.py", line 3078, in _box_col_values
    return klass(values, index=self.index, name=items, fastpath=True)
  File "C:\Users\argenisleon\AppData\Roaming\Python\Python37\site-packages\pandas\core\series.py", line 310, in __init__
    self.name = name
  File "C:\Users\argenisleon\AppData\Roaming\Python\Python37\site-packages\pandas\core\generic.py", line 5296, in __setattr__
    object.__setattr__(self, name, value)
  File "C:\Users\argenisleon\AppData\Roaming\Python\Python37\site-packages\pandas\core\series.py", line 435, in name
    raise TypeError("Series.name must be a hashable type")
TypeError: Series.name must be a hashable type
distributed.sizeof - WARNING - Sizeof calculation failed.  Defaulting to 1MB
Traceback (most recent call last):
  File "C:\Users\argenisleon\Anaconda3\lib\site-packages\distributed\sizeof.py", line 14, in safe_sizeof
    return sizeof(obj)
  File "C:\Users\argenisleon\Anaconda3\lib\site-packages\dask\utils.py", line 507, in __call__
    return meth(arg, *args, **kwargs)
  File "C:\Users\argenisleon\Anaconda3\lib\site-packages\dask\sizeof.py", line 104, in sizeof_pandas_dataframe
    for name, col in df.iteritems():
  File "C:\Users\argenisleon\AppData\Roaming\Python\Python37\site-packages\pandas\core\frame.py", line 901, in iteritems
    yield from self.items()
  File "C:\Users\argenisleon\AppData\Roaming\Python\Python37\site-packages\pandas\core\frame.py", line 897, in items
    yield k, self._ixs(i, axis=1)
  File "C:\Users\argenisleon\AppData\Roaming\Python\Python37\site-packages\pandas\core\frame.py", line 2760, in _ixs
    result = self._box_col_values(values, label)
  File "C:\Users\argenisleon\AppData\Roaming\Python\Python37\site-packages\pandas\core\frame.py", line 3078, in _box_col_values
    return klass(values, index=self.index, name=items, fastpath=True)
  File "C:\Users\argenisleon\AppData\Roaming\Python\Python37\site-packages\pandas\core\series.py", line 310, in __init__
    self.name = name
  File "C:\Users\argenisleon\AppData\Roaming\Python\Python37\site-packages\pandas\core\generic.py", line 5296, in __setattr__
    object.__setattr__(self, name, value)
  File "C:\Users\argenisleon\AppData\Roaming\Python\Python37\site-packages\pandas\core\series.py", line 435, in name
    raise TypeError("Series.name must be a hashable type")
TypeError: Series.name must be a hashable type
distributed.sizeof - WARNING - Sizeof calculation failed.  Defaulting to 1MB
Traceback (most recent call last):
  File "C:\Users\argenisleon\Anaconda3\lib\site-packages\distributed\sizeof.py", line 14, in safe_sizeof
    return sizeof(obj)
  File "C:\Users\argenisleon\Anaconda3\lib\site-packages\dask\utils.py", line 507, in __call__
    return meth(arg, *args, **kwargs)
  File "C:\Users\argenisleon\Anaconda3\lib\site-packages\dask\sizeof.py", line 104, in sizeof_pandas_dataframe
    for name, col in df.iteritems():
  File "C:\Users\argenisleon\AppData\Roaming\Python\Python37\site-packages\pandas\core\frame.py", line 901, in iteritems
    yield from self.items()
  File "C:\Users\argenisleon\AppData\Roaming\Python\Python37\site-packages\pandas\core\frame.py", line 897, in items
    yield k, self._ixs(i, axis=1)
  File "C:\Users\argenisleon\AppData\Roaming\Python\Python37\site-packages\pandas\core\frame.py", line 2760, in _ixs
    result = self._box_col_values(values, label)
  File "C:\Users\argenisleon\AppData\Roaming\Python\Python37\site-packages\pandas\core\frame.py", line 3078, in _box_col_values
    return klass(values, index=self.index, name=items, fastpath=True)
  File "C:\Users\argenisleon\AppData\Roaming\Python\Python37\site-packages\pandas\core\series.py", line 310, in __init__
    self.name = name
  File "C:\Users\argenisleon\AppData\Roaming\Python\Python37\site-packages\pandas\core\generic.py", line 5296, in __setattr__
    object.__setattr__(self, name, value)
  File "C:\Users\argenisleon\AppData\Roaming\Python\Python37\site-packages\pandas\core\series.py", line 435, in name
    raise TypeError("Series.name must be a hashable type")
TypeError: Series.name must be a hashable type

distributed.sizeof - WARNING - Sizeof calculation failed.  Defaulting to 1MB
Traceback (most recent call last):
  File "C:\Users\argenisleon\Anaconda3\lib\site-packages\distributed\sizeof.py", line 14, in safe_sizeof
    return sizeof(obj)
  File "C:\Users\argenisleon\Anaconda3\lib\site-packages\dask\utils.py", line 507, in __call__
    return meth(arg, *args, **kwargs)
  File "C:\Users\argenisleon\Anaconda3\lib\site-packages\dask\sizeof.py", line 104, in sizeof_pandas_dataframe
    for name, col in df.iteritems():
  File "C:\Users\argenisleon\AppData\Roaming\Python\Python37\site-packages\pandas\core\frame.py", line 901, in iteritems
    yield from self.items()
  File "C:\Users\argenisleon\AppData\Roaming\Python\Python37\site-packages\pandas\core\frame.py", line 897, in items
    yield k, self._ixs(i, axis=1)
  File "C:\Users\argenisleon\AppData\Roaming\Python\Python37\site-packages\pandas\core\frame.py", line 2760, in _ixs
    result = self._box_col_values(values, label)
  File "C:\Users\argenisleon\AppData\Roaming\Python\Python37\site-packages\pandas\core\frame.py", line 3078, in _box_col_values
    return klass(values, index=self.index, name=items, fastpath=True)
  File "C:\Users\argenisleon\AppData\Roaming\Python\Python37\site-packages\pandas\core\series.py", line 310, in __init__
    self.name = name
  File "C:\Users\argenisleon\AppData\Roaming\Python\Python37\site-packages\pandas\core\generic.py", line 5296, in __setattr__
    object.__setattr__(self, name, value)
  File "C:\Users\argenisleon\AppData\Roaming\Python\Python37\site-packages\pandas\core\series.py", line 435, in name
    raise TypeError("Series.name must be a hashable type")
TypeError: Series.name must be a hashable type
distributed.sizeof - WARNING - Sizeof calculation failed.  Defaulting to 1MB
Traceback (most recent call last):
  File "C:\Users\argenisleon\Anaconda3\lib\site-packages\distributed\sizeof.py", line 14, in safe_sizeof
    return sizeof(obj)
  File "C:\Users\argenisleon\Anaconda3\lib\site-packages\dask\utils.py", line 507, in __call__
    return meth(arg, *args, **kwargs)
  File "C:\Users\argenisleon\Anaconda3\lib\site-packages\dask\sizeof.py", line 104, in sizeof_pandas_dataframe
    for name, col in df.iteritems():
  File "C:\Users\argenisleon\AppData\Roaming\Python\Python37\site-packages\pandas\core\frame.py", line 901, in iteritems
    yield from self.items()
  File "C:\Users\argenisleon\AppData\Roaming\Python\Python37\site-packages\pandas\core\frame.py", line 897, in items
    yield k, self._ixs(i, axis=1)
  File "C:\Users\argenisleon\AppData\Roaming\Python\Python37\site-packages\pandas\core\frame.py", line 2760, in _ixs
    result = self._box_col_values(values, label)
  File "C:\Users\argenisleon\AppData\Roaming\Python\Python37\site-packages\pandas\core\frame.py", line 3078, in _box_col_values
    return klass(values, index=self.index, name=items, fastpath=True)
  File "C:\Users\argenisleon\AppData\Roaming\Python\Python37\site-packages\pandas\core\series.py", line 310, in __init__
    self.name = name
  File "C:\Users\argenisleon\AppData\Roaming\Python\Python37\site-packages\pandas\core\generic.py", line 5296, in __setattr__
    object.__setattr__(self, name, value)
  File "C:\Users\argenisleon\AppData\Roaming\Python\Python37\site-packages\pandas\core\series.py", line 435, in name
    raise TypeError("Series.name must be a hashable type")
TypeError: Series.name must be a hashable type
distributed.sizeof - WARNING - Sizeof calculation failed.  Defaulting to 1MB
Traceback (most recent call last):
  File "C:\Users\argenisleon\Anaconda3\lib\site-packages\distributed\sizeof.py", line 14, in safe_sizeof
    return sizeof(obj)
  File "C:\Users\argenisleon\Anaconda3\lib\site-packages\dask\utils.py", line 507, in __call__
    return meth(arg, *args, **kwargs)
  File "C:\Users\argenisleon\Anaconda3\lib\site-packages\dask\sizeof.py", line 104, in sizeof_pandas_dataframe
    for name, col in df.iteritems():
  File "C:\Users\argenisleon\AppData\Roaming\Python\Python37\site-packages\pandas\core\frame.py", line 901, in iteritems
    yield from self.items()
  File "C:\Users\argenisleon\AppData\Roaming\Python\Python37\site-packages\pandas\core\frame.py", line 897, in items
    yield k, self._ixs(i, axis=1)
  File "C:\Users\argenisleon\AppData\Roaming\Python\Python37\site-packages\pandas\core\frame.py", line 2760, in _ixs
    result = self._box_col_values(values, label)
  File "C:\Users\argenisleon\AppData\Roaming\Python\Python37\site-packages\pandas\core\frame.py", line 3078, in _box_col_values
    return klass(values, index=self.index, name=items, fastpath=True)
  File "C:\Users\argenisleon\AppData\Roaming\Python\Python37\site-packages\pandas\core\series.py", line 310, in __init__
    self.name = name
  File "C:\Users\argenisleon\AppData\Roaming\Python\Python37\site-packages\pandas\core\generic.py", line 5296, in __setattr__
    object.__setattr__(self, name, value)
  File "C:\Users\argenisleon\AppData\Roaming\Python\Python37\site-packages\pandas\core\series.py", line 435, in name
    raise TypeError("Series.name must be a hashable type")
TypeError: Series.name must be a hashable type
distributed.sizeof - WARNING - Sizeof calculation failed.  Defaulting to 1MB
Traceback (most recent call last):
  File "C:\Users\argenisleon\Anaconda3\lib\site-packages\distributed\sizeof.py", line 14, in safe_sizeof
    return sizeof(obj)
  File "C:\Users\argenisleon\Anaconda3\lib\site-packages\dask\utils.py", line 507, in __call__
    return meth(arg, *args, **kwargs)
  File "C:\Users\argenisleon\Anaconda3\lib\site-packages\dask\sizeof.py", line 104, in sizeof_pandas_dataframe
    for name, col in df.iteritems():
  File "C:\Users\argenisleon\AppData\Roaming\Python\Python37\site-packages\pandas\core\frame.py", line 901, in iteritems
    yield from self.items()
  File "C:\Users\argenisleon\AppData\Roaming\Python\Python37\site-packages\pandas\core\frame.py", line 897, in items
    yield k, self._ixs(i, axis=1)
  File "C:\Users\argenisleon\AppData\Roaming\Python\Python37\site-packages\pandas\core\frame.py", line 2760, in _ixs
    result = self._box_col_values(values, label)
  File "C:\Users\argenisleon\AppData\Roaming\Python\Python37\site-packages\pandas\core\frame.py", line 3078, in _box_col_values
    return klass(values, index=self.index, name=items, fastpath=True)
  File "C:\Users\argenisleon\AppData\Roaming\Python\Python37\site-packages\pandas\core\series.py", line 310, in __init__
    self.name = name
  File "C:\Users\argenisleon\AppData\Roaming\Python\Python37\site-packages\pandas\core\generic.py", line 5296, in __setattr__
    object.__setattr__(self, name, value)
  File "C:\Users\argenisleon\AppData\Roaming\Python\Python37\site-packages\pandas\core\series.py", line 435, in name
    raise TypeError("Series.name must be a hashable type")
TypeError: Series.name must be a hashable type
distributed.worker - WARNING -  Compute Failed
Function:  execute_task
args:      (< could not convert arg to str >)
kwargs:    {}
Exception: TypeError("'<' not supported between instances of 'NoneType' and 'float'")

TypeError: '<' not supported between instances of 'NoneType' and 'float'

In [282]:
t.run()

Creating file ../test_df_cols_dask.py
Done

In [337]:
t.create(None, "cols.count", None, "json")

Creating test_cols_count() test function...
[]
16

## Count na

In [349]:
t.create(None, "cols.count_na", None, "json", None, numeric_col)

Creating test_cols_count_na() test function...
["'height(ft)'"]
{'count_na': {'height(ft)': 2}}

In [350]:
t.create(None, "cols.count_na", "all_columns", "json", None, "*")

Creating test_cols_count_na_all_columns() test function...
["'*'"]
{'count_na': {'names': 1, 'height(ft)': 2, 'function': 1, 'rank': 1, 'age': 1, 'weight(t)': 2, 'japanese name': 1, 'last position seen': 3, 'date arrival': 1, 'last date seen': 1, 'attributes': 1, 'Date Type': 1, 'timestamp': 1, 'Cybertronian': 1, 'function(binary)': 1, 'NullType': 7}}

In [351]:
t.run()

Creating file ../test_df_cols_dask.py
Done

In [352]:
source_df.cols.names("rank", ["str", "int", "float"], True)

TypeError: isinstance() arg 2 must be a type or tuple of types

In [361]:
t.create(None, "cols.count_zeros", None, "json", None, numeric_col)

Creating test_cols_count_zeros() test function...
["'height(ft)'"]
{'zeros': {'height(ft)': 0}}

In [375]:
source_df.compute()

,names,height(ft),function,rank,age,weight(t),japanese name,last position seen,date arrival,last date seen,attributes,Date Type,timestamp,Cybertronian,function(binary),NullType
0,Optim'us,-28.0,Leader,10.0,5000000.0,4.3,"[Inochi, Convoy]","19.442735,-99.201111",1980/04/10,2016/09/10,"[8.5344, 4300.0]",2016-09-10,2014-06-24,True,"[76, 101, 97, 100, 101, 114]",None
1,bumbl#ebéé,17.0,Espionage,7.0,5000000.0,2.0,"[Bumble, Goldback]","10.642707,-71.612534",1980/04/10,2015/08/10,"[5.334, 2000.0]",2015-08-10,2014-06-24,True,"[69, 115, 112, 105, 111, 110, 97, 103, 101]",None
2,ironhide&,26.0,Security,7.0,5000000.0,4.0,[Roadbuster],"37.789563,-122.400356",1980/04/10,2014/07/10,"[7.9248, 4000.0]",2014-06-24,2014-06-24,True,"[83, 101, 99, 117, 114, 105, 116, 121]",None
3,Jazz,13.0,First Lieutenant,8.0,5000000.0,1.8,[Meister],"33.670666,-117.841553",1980/04/10,2013/06/10,"[3.9624, 1800.0]",2013-06-24,2014-06-24,True,"[70, 105, 114, 115, 116, 32, 76, 105, 101, 117...",None
4,Megatron,NaN,None,10.0,5000000.0,5.7,[Megatron],None,1980/04/10,2012/05/10,"[None, 5700.0]",2012-05-10,2014-06-24,True,"[78, 111, 110, 101]",None
5,Metroplex_)^$,300.0,Battle Station,8.0,5000000.0,NaN,[Metroflex],None,1980/04/10,2011/04/10,"[91.44, None]",2011-04-10,2014-06-24,True,"[66, 97, 116, 116, 108, 101, 32, 83, 116, 97, ...",None
6,None,NaN,None,NaN,NaN,NaN,None,None,None,None,None,None,NaT,None,None,None

In [384]:
t.create(None, "cols.count_zeros", "all_columns", "json", None, "*")
t.run()

Creating test_cols_count_zeros_all_columns() test function...
["'*'"]
{'zeros': {'names': 0, 'height(ft)': 0, 'function': 0, 'rank': 0, 'age': 0, 'weight(t)': 0, 'japanese name': 0, 'last position seen': 0, 'date arrival': 0, 'last date seen': 0, 'attributes': 0, 'Date Type': 0, 'Cybertronian': 0, 'function(binary)': 0, 'NullType': 0}}
Creating file ../test_df_cols_dask.py
Done

In [305]:
source_df.cols.names()

['names',
 'height(ft)',
 'function',
 'rank',
 'age',
 'weight(t)',
 'japanese name',
 'last position seen',
 'date arrival',
 'last date seen',
 'attributes',
 'Date Type',
 'timestamp',
 'Cybertronian',
 'function(binary)',
 'NullType']

## Value counts

In [390]:
t.create(None, "cols.value_counts", None, "json", None, numeric_col)
t.run()

Creating test_cols_value_counts() test function...
["'height(ft)'"]
col_name height(ft)
{'height(ft)': {300.0: 1, 26.0: 1, 17.0: 1, 13.0: 1, -28.0: 1}}
Creating file ../test_df_cols_dask.py
Done

In [395]:
t.create(None, "cols.value_counts", "all_columns", "json", None, "*")
t.run()

Creating test_cols_value_counts_all_columns() test function...
["'*'"]
col_name names
col_name height(ft)
col_name function
col_name rank
col_name age
col_name weight(t)
col_name japanese name

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 1653, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'
distributed.worker - WARNING -  Compute Failed
Function:  execute_task
args:      ((<function apply at 0x000001D87AC5D678>, <function value_counts_aggregate at 0x000001D87B815DC8>, [(<function _concat at 0x000001D87B5573A8>, [(<function apply at 0x000001D87AC5D678>, <methodcaller: value_counts>, [(subgraph_callable,            names  height(ft)          function  rank        age  weight(t)  \
0       Optim'us       -28.0            Leader  10.0  5000000.0        4.3
1   bumbl#ebéé          17.0         Espionage   7.0  5000000.0        2.0
2      ironhide&        26.0          Security   7.0  5000000.0        4.0
3           Jazz        13.0  First Lieutenant   8.0  5000000.0        1.8
4       Megatron         NaN              None  10.0  5000000.0        5.7
5  Metroplex_)^$       300.0    Battle Station   8.0  5000000.0        NaN
6           None         NaN              None   NaN        NaN        NaN

        japanese name     last position seen date arrival last date seen  \
0    [Inochi, Convoy]   19.442735,-99.201111   1980/04/10     2
kwargs:    {}
Exception: TypeError("unhashable type: 'list'")

col_name last position seen
col_name date arrival
col_name last date seen
col_name attributes

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 1653, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'
distributed.worker - WARNING -  Compute Failed
Function:  execute_task
args:      ((<function apply at 0x000001D87AC5D678>, <function value_counts_aggregate at 0x000001D87B815DC8>, [(<function _concat at 0x000001D87B5573A8>, [(<function apply at 0x000001D87AC5D678>, <methodcaller: value_counts>, [(subgraph_callable,            names  height(ft)          function  rank        age  weight(t)  \
0       Optim'us       -28.0            Leader  10.0  5000000.0        4.3
1   bumbl#ebéé          17.0         Espionage   7.0  5000000.0        2.0
2      ironhide&        26.0          Security   7.0  5000000.0        4.0
3           Jazz        13.0  First Lieutenant   8.0  5000000.0        1.8
4       Megatron         NaN              None  10.0  5000000.0        5.7
5  Metroplex_)^$       300.0    Battle Station   8.0  5000000.0        NaN
6           None         NaN              None   NaN        NaN        NaN

        japanese name     last position seen date arrival last date seen  \
0    [Inochi, Convoy]   19.442735,-99.201111   1980/04/10     2
kwargs:    {}
Exception: TypeError("unhashable type: 'list'")

col_name Date Type
col_name timestamp
col_name Cybertronian
col_name function(binary)

TypeError: unhashable type: 'bytearray'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 1653, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'bytearray'
distributed.worker - WARNING -  Compute Failed
Function:  execute_task
args:      ((<function apply at 0x000001D87AC5D678>, <function value_counts_aggregate at 0x000001D87B815DC8>, [(<function _concat at 0x000001D87B5573A8>, [(<function apply at 0x000001D87AC5D678>, <methodcaller: value_counts>, [(subgraph_callable,            names  height(ft)          function  rank        age  weight(t)  \
0       Optim'us       -28.0            Leader  10.0  5000000.0        4.3
1   bumbl#ebéé          17.0         Espionage   7.0  5000000.0        2.0
2      ironhide&        26.0          Security   7.0  5000000.0        4.0
3           Jazz        13.0  First Lieutenant   8.0  5000000.0        1.8
4       Megatron         NaN              None  10.0  5000000.0        5.7
5  Metroplex_)^$       300.0    Battle Station   8.0  5000000.0        NaN
6           None         NaN              None   NaN        NaN        NaN

        japanese name     last position seen date arrival last date seen  \
0    [Inochi, Convoy]   19.442735,-99.201111   1980/04/10     2
kwargs:    {}
Exception: TypeError("unhashable type: 'bytearray'")

col_name NullType
{'names': {'ironhide&': 1, 'bumbl#ebéé  ': 1, "Optim'us": 1, 'Metroplex_)^$': 1, 'Megatron': 1, 'Jazz': 1}, 'height(ft)': {300.0: 1, 26.0: 1, 17.0: 1, 13.0: 1, -28.0: 1}, 'function': {'Security': 1, 'None': 1, 'Leader': 1, 'First Lieutenant': 1, 'Espionage': 1, 'Battle Station': 1}, 'rank': {10.0: 2, 8.0: 2, 7.0: 2}, 'age': {5000000.0: 6}, 'weight(t)': {5.7: 1, 4.3: 1, 4.0: 1, 2.0: 1, 1.8: 1}, 'last position seen': {'37.789563,-122.400356': 1, '33.670666,-117.841553': 1, '19.442735,-99.201111': 1, '10.642707,-71.612534': 1}, 'date arrival': {'1980/04/10': 6}, 'last date seen': {'2016/09/10': 1, '2015/08/10': 1, '2014/07/10': 1, '2013/06/10': 1, '2012/05/10': 1, '2011/04/10': 1}, 'Date Type': {datetime.date(2016, 9, 10): 1, datetime.date(2015, 8, 10): 1, datetime.date(2014, 6, 24): 1, datetime.date(2013, 6, 24): 1, datetime.date(2012, 5, 10): 1, datetime.date(2011, 4, 10): 1}, 'timestamp': {Timestamp('2014-06-24 00:00:00'): 6}, 'Cybertronian': {True: 6}, 'NullType': {}}
Creating file ../test_df_cols_dask.py
Done

In [424]:
t.create(None, "cols.count_uniques", None, "json", None, numeric_col)
t.run()

Creating test_cols_count_uniques() test function...
["'height(ft)'"]
{'height(ft)': {'count_uniques': 5}}
Creating file ../test_df_cols_dask.py
Done

In [425]:
t.create(None, "cols.count_uniques", "all_columns", "json", None, "*")
t.run()

distributed.worker - WARNING -  Compute Failed
Function:  _count_uniques
args:      (0    [8.5344, 4300.0]
1     [5.334, 2000.0]
2    [7.9248, 4000.0]
3    [3.9624, 1800.0]
4      [None, 5700.0]
5       [91.44, None]
6                None
Name: attributes, dtype: object)
kwargs:    {}
Exception: TypeError("unhashable type: 'list'")

Creating test_cols_count_uniques_all_columns() test function...
["'*'"]

TypeError: unhashable type: 'list'

In [426]:
source_df.compute()

,names,height(ft),function,rank,age,weight(t),japanese name,last position seen,date arrival,last date seen,attributes,Date Type,timestamp,Cybertronian,function(binary),NullType
0,Optim'us,-28.0,Leader,10.0,5000000.0,4.3,"[Inochi, Convoy]","19.442735,-99.201111",1980/04/10,2016/09/10,"[8.5344, 4300.0]",2016-09-10,2014-06-24,True,"[76, 101, 97, 100, 101, 114]",None
1,bumbl#ebéé,17.0,Espionage,7.0,5000000.0,2.0,"[Bumble, Goldback]","10.642707,-71.612534",1980/04/10,2015/08/10,"[5.334, 2000.0]",2015-08-10,2014-06-24,True,"[69, 115, 112, 105, 111, 110, 97, 103, 101]",None
2,ironhide&,26.0,Security,7.0,5000000.0,4.0,[Roadbuster],"37.789563,-122.400356",1980/04/10,2014/07/10,"[7.9248, 4000.0]",2014-06-24,2014-06-24,True,"[83, 101, 99, 117, 114, 105, 116, 121]",None
3,Jazz,13.0,First Lieutenant,8.0,5000000.0,1.8,[Meister],"33.670666,-117.841553",1980/04/10,2013/06/10,"[3.9624, 1800.0]",2013-06-24,2014-06-24,True,"[70, 105, 114, 115, 116, 32, 76, 105, 101, 117...",None
4,Megatron,NaN,None,10.0,5000000.0,5.7,[Megatron],None,1980/04/10,2012/05/10,"[None, 5700.0]",2012-05-10,2014-06-24,True,"[78, 111, 110, 101]",None
5,Metroplex_)^$,300.0,Battle Station,8.0,5000000.0,NaN,[Metroflex],None,1980/04/10,2011/04/10,"[91.44, None]",2011-04-10,2014-06-24,True,"[66, 97, 116, 116, 108, 101, 32, 83, 116, 97, ...",None
6,None,NaN,None,NaN,NaN,NaN,None,None,None,None,None,None,NaT,None,None,None

In [435]:
t.create(None, "cols.unique", None, "json", None, numeric_col)
t.run()

Creating test_cols_unique() test function...
["'height(ft)'"]
0    -28.0
1     17.0
2     26.0
3     13.0
4      NaN
5    300.0
Name: height(ft), dtype: float64
Creating file ../test_df_cols_dask.py
Done

In [436]:
t.create(None, "cols.unique", "all_columns", "json", None, "*")
t.run()

Creating test_cols_unique_all_columns() test function...
["'*'"]

KeyError: '*'

In [437]:
t.create(None, "cols.add", None, "df", None, [numeric_col, numeric_col_B])

Creating test_cols_add() test function...
["['height(ft)','rank']"]

AttributeError: 'NoneType' object has no attribute 'ext'

In [ ]:
t.create(None, "cols.add", "all_columns", "df", "*"),

In [ ]:
t.create(None, "cols.sub", None, "df", [numeric_col, numeric_col_B])

In [ ]:
t.create(None, "cols.sub", "all_columns", "df", "*")

In [ ]:
t.create(None, "cols.mul", None, "df", [numeric_col, numeric_col_B])

In [ ]:
t.create(None, "cols.mul", "all_columns", "df", "*")

In [ ]:
t.create(None, "cols.div", None, "df", [numeric_col, numeric_col_B])

In [ ]:
t.create(None, "cols.div", "all_columns", "df", "*")

In [ ]:
t.create(None, "cols.z_score", None, "df", numeric_col)

In [ ]:
t.create(None, "cols.z_score", "all_columns", "df", "*")

In [ ]:
t.create(None, "cols.iqr", None, "json", None, numeric_col)

In [ ]:
t.create(None, "cols.iqr", "all_columns", "json", None, "*")

In [ ]:
t.run()

In [406]:
source_df.cols.names()

['names',
 'height(ft)',
 'function',
 'rank',
 'age',
 'weight(t)',
 'japanese name',
 'last position seen',
 'date arrival',
 'last date seen',
 'attributes',
 'Date Type',
 'timestamp',
 'Cybertronian',
 'function(binary)',
 'NullType']

In [410]:
source_df["names"].str.lower().compute()

0         optim'us
1     bumbl#ebéé
2        ironhide&
3             jazz
4         megatron
5    metroplex_)^$
6             None
Name: names, dtype: object

In [412]:
source_df.ext.display()

C:\Users\argenisleon\Anaconda3\lib\site-packages\dask\dataframe\core.py:6157: UserWarning: Insufficient elements for `head`. 10 elements requested, only 7 elements available. Try passing larger `npartitions` to `head`.
  warnings.warn(msg.format(n, len(r)))

In [452]:
t.create(None, "cols.lower", None, "df", None, string_col)

Creating test_cols_lower() test function...
["'function'"]

C:\Users\argenisleon\Anaconda3\lib\site-packages\dask\dataframe\core.py:6157: UserWarning: Insufficient elements for `head`. 10 elements requested, only 7 elements available. Try passing larger `npartitions` to `head`.
  warnings.warn(msg.format(n, len(r)))

In [454]:
t.create(None, "cols.lower", "all_columns", "df", None, "*")

distributed.worker - WARNING -  Compute Failed
Function:  execute_task
args:      ((<function safe_head at 0x000001D87B8541F8>, (subgraph_callable, ['names', 'height(ft)', 'function', 'rank', 'age', 'weight(t)', 'japanese name', 'last position seen', 'date arrival', 'last date seen', 'attributes', 'Date Type', 'timestamp', 'Cybertronian', 'function(binary)', 'NullType'], ['names', 'height(ft)', 'function', 'rank', 'age', 'weight(t)', 'japanese name', 'last position seen', 'date arrival', 'last date seen', 'attributes', 'Date Type', 'timestamp', 'Cybertronian', 'function(binary)', 'NullType'],            names  height(ft)          function  rank        age  weight(t)  \
0       Optim'us       -28.0            Leader  10.0  5000000.0        4.3
1   bumbl#ebéé          17.0         Espionage   7.0  5000000.0        2.0
2      ironhide&        26.0          Security   7.0  5000000.0        4.0
3           Jazz        13.0  First Lieutenant   8.0  5000000.0        1.8
4       Megatron         NaN              None  10.0  5000000.0        5.7
5  Metroplex_)
kwargs:    {}
Exception: AttributeError("'Series' object has no attribute 'lower'")

Creating test_cols_lower_all_columns() test function...
["'*'"]

AttributeError: 'Series' object has no attribute 'lower'

In [457]:
t.create(None, "cols.upper", None, "df", None, string_col)

Creating test_cols_upper() test function...
["'function'"]

C:\Users\argenisleon\Anaconda3\lib\site-packages\dask\dataframe\core.py:6157: UserWarning: Insufficient elements for `head`. 10 elements requested, only 7 elements available. Try passing larger `npartitions` to `head`.
  warnings.warn(msg.format(n, len(r)))

In [460]:
t.create(None, "cols.upper", "all_columns", "df", None, "*")

distributed.worker - WARNING -  Compute Failed
Function:  execute_task
args:      ((<function safe_head at 0x000001D87B8541F8>, (subgraph_callable, ['names', 'height(ft)', 'function', 'rank', 'age', 'weight(t)', 'japanese name', 'last position seen', 'date arrival', 'last date seen', 'attributes', 'Date Type', 'timestamp', 'Cybertronian', 'function(binary)', 'NullType'], ['names', 'height(ft)', 'function', 'rank', 'age', 'weight(t)', 'japanese name', 'last position seen', 'date arrival', 'last date seen', 'attributes', 'Date Type', 'timestamp', 'Cybertronian', 'function(binary)', 'NullType'],            names  height(ft)          function  rank        age  weight(t)  \
0       Optim'us       -28.0            Leader  10.0  5000000.0        4.3
1   bumbl#ebéé          17.0         Espionage   7.0  5000000.0        2.0
2      ironhide&        26.0          Security   7.0  5000000.0        4.0
3           Jazz        13.0  First Lieutenant   8.0  5000000.0        1.8
4       Megatron         NaN              None  10.0  5000000.0        5.7
5  Metroplex_)
kwargs:    {}
Exception: AttributeError("'Series' object has no attribute 'upper'")

Creating test_cols_upper_all_columns() test function...
["'*'"]

AttributeError: 'Series' object has no attribute 'upper'

In [463]:
t.create(None, "cols.trim", None, "df", None, string_col)

Creating test_cols_trim() test function...
["'function'"]

C:\Users\argenisleon\Anaconda3\lib\site-packages\dask\dataframe\core.py:6157: UserWarning: Insufficient elements for `head`. 10 elements requested, only 7 elements available. Try passing larger `npartitions` to `head`.
  warnings.warn(msg.format(n, len(r)))

In [465]:
t.create(None, "cols.trim", "all_columns", "df", None, "*")

distributed.worker - WARNING -  Compute Failed
Function:  execute_task
args:      ((<function safe_head at 0x000001D87B8541F8>, (subgraph_callable, ['names', 'height(ft)', 'function', 'rank', 'age', 'weight(t)', 'japanese name', 'last position seen', 'date arrival', 'last date seen', 'attributes', 'Date Type', 'timestamp', 'Cybertronian', 'function(binary)', 'NullType'], ['names', 'height(ft)', 'function', 'rank', 'age', 'weight(t)', 'japanese name', 'last position seen', 'date arrival', 'last date seen', 'attributes', 'Date Type', 'timestamp', 'Cybertronian', 'function(binary)', 'NullType'],            names  height(ft)          function  rank        age  weight(t)  \
0       Optim'us       -28.0            Leader  10.0  5000000.0        4.3
1   bumbl#ebéé          17.0         Espionage   7.0  5000000.0        2.0
2      ironhide&        26.0          Security   7.0  5000000.0        4.0
3           Jazz        13.0  First Lieutenant   8.0  5000000.0        1.8
4       Megatron         NaN              None  10.0  5000000.0        5.7
5  Metroplex_)
kwargs:    {}
Exception: AttributeError("'Series' object has no attribute 'strip'")

Creating test_cols_trim_all_columns() test function...
["'*'"]

AttributeError: 'Series' object has no attribute 'strip'

In [466]:
t.create(None, "cols.reverse", None, "df", string_col)

Creating test_cols_reverse_function() test function...
[]

TypeError: reverse() missing 1 required positional argument: 'input_cols'

In [ ]:
t.create(None, "cols.reverse", "all_columns", "df", "*")

In [468]:
t.create(None, "cols.remove_accents", None, "df", None,string_col)

Creating test_cols_remove_accents() test function...
["'function'"]

ValueError: Not all divisions are known, can't align partitions. Please use `set_index` to set the index.

In [ ]:
t.create(None, "cols.remove_accents", "all_columns", "df", string_col)

In [ ]:
source_df.table()

In [ ]:
t.create(None, "cols.remove_special_chars", None, "df", string_col)

In [ ]:
t.create(None, "cols.remove_special_chars", "all_columns", "df", None, "*")
t.run()
# t.create(None, "cols.value_counts", None, "json", None, numeric_col)

In [ ]:
source_df.cols.remove_special_chars("*").table()

In [ ]:
t.create(None, "cols.remove_white_spaces", None, "df", string_col)

In [ ]:
t.create(None, "cols.remove_white_spaces", "all_columns", "df", "*")

In [ ]:
t.create(None, "cols.date_transform", None, "df", date_col, "yyyy/MM/dd", "dd-MM-YYYY")

In [ ]:
t.run()

In [ ]:
t.create(None, "cols.date_transform", "all_columns", "df", [date_col, date_col_B], "yyyy/MM/dd", "dd-MM-YYYY")

In [ ]:
# t.create(None, "cols.years_between", None, "df", date_col, "yyyy/MM/dd")
t.delete(None, "cols.years_between", None, "df", date_col, "yyyy/MM/dd")

In [ ]:
# t.create(None, "cols.years_between", "multiple_columns", "df", [date_col, date_col_B], "yyyy/MM/dd")
t.delete(None, "cols.years_between", "multiple_columns", "df", [date_col, date_col_B], "yyyy/MM/dd")

In [ ]:
t.run()

In [ ]:
t.create(None, "cols.impute", None, "df", numeric_col_B)

In [ ]:
%%time
t.create(None, "cols.impute", "all_columns", "df", None, "names", "categorical")

In [ ]:
t.run()

## Hist

In [ ]:
t.create(None, "cols.hist", None, "json", None, ["height(ft)", numeric_col_B], 4)
t.run()

In [ ]:
t.create(None, "cols.hist", "all_columns", "json", None, "Date Type", 4)

In [ ]:
t.run()

In [ ]:
t.create(None, "cols.frequency", None, "dict", None, numeric_col_B, 4)
t.run()

In [ ]:
t.create(None, "cols.frequency", "all_columns", "dict", None, "*", 4)
t.run()

In [ ]:
t.create(None, "cols.schema_dtype", None, "json", numeric_col_B)

In [ ]:
# Problems with casting
# t.delete(None, "cols.schema_dtype", "all_columns", "json", "*")
t.run()

In [ ]:
t.create(None, "cols.dtypes", None, "json", None, numeric_col_B)

In [ ]:
t.run()

In [ ]:
t.create(None, "cols.dtypes", "all_columns", "json", "*")

In [ ]:
t.create(None, "cols.select_by_dtypes", "str", "df", None, "str")

In [ ]:
t.create(None, "cols.select_by_dtypes", "int", "df", "int")

In [ ]:
t.create(None, "cols.select_by_dtypes", "float", "df", "float")

In [ ]:
t.create(None, "cols.select_by_dtypes", "array", "df", "array")

In [ ]:
t.create(None, "cols.names", None, "json")

In [ ]:
t.create(None, "cols.qcut", None, "df", numeric_col_B, 4)

In [ ]:
t.create(None, "cols.qcut", "all_columns", "df", "*", 4)

In [ ]:
t.create(None, "cols.clip", None, "df", numeric_col_B, 3, 5)

In [ ]:
t.create(None, "cols.clip", "all_columns", "df", "*", 3, 5)

In [ ]:
t.create(None, "cols.replace", "full", "df", None, string_col, ["First Lieutenant", "Battle"], "Match",
         search_by="full")

In [ ]:
t.create(None, "cols.replace", "words", "df", None, string_col, ["Security", "Leader"], "Match", search_by="words")
t.run()

In [ ]:
t.create(None, "cols.replace", "chars", "df", None, string_col, ["F", "E"], "Match", search_by="chars")

In [ ]:
t.create(None, "cols.replace", "numeric", "df", None, "age", 5000000, 5, search_by="numeric")

In [ ]:
t.run()

In [ ]:
# Assert is failing I can see why
t.create(None, "cols.replace", "all_columns", "df", None, "*", ["Jazz", "Leader"], "Match")
t.run()

In [ ]:
# Its necesary to save the function
t.delete(None, "cols.apply_expr", None, "df", numeric_col_B, func)

In [ ]:
# Its necesary to save the function
t.delete(None, "cols.apply_expr", "all_columns", "df", [numeric_col_B, numeric_col_C], func)

In [ ]:
t.create(None, "cols.append", "number", "df", new_col, 1)

In [ ]:
df_col = op.create.df(
    [
        ("new_col", "str", True),

    ], [
        ("q"), ("w"), ("e"), ("r"),

    ])

In [ ]:
t.create(None, "cols.append", "dataframes", "df", None, df_col)

t.create(None, "cols.append", "advance", "df", [("new_col_4", "test"),
                                               ("new_col_5", df[numeric_col_B] * 2),
                                               ("new_col_6", [1, 2, 3])
                                               ]),

In [ ]:
t.create(None, "cols.rename", None, "df", numeric_col_B, numeric_col_B + "(old)")

In [ ]:
t.create(None, "cols.rename", "list", "df",
         [numeric_col, numeric_col + "(tons)", numeric_col_B, numeric_col_B + "(old)"])

In [ ]:
t.create(None, "cols.rename", "function", "df", str.upper)

In [ ]:
t.create(None, "cols.drop", None, "df", numeric_col_B)

In [ ]:
t.create(None, "cols.cast", None, "df", string_col, "string")

In [ ]:
t.create(None, "cols.cast", "all_columns", "df", "*", "string")

In [ ]:
t.run()

In [ ]:
# Problems with precision
t.delete(None, "cols.cast", "vector", "df", array_col, Vectors)

In [ ]:
t.create(None, "cols.keep", None, "df", numeric_col_B)

In [ ]:
t.create(None, "cols.move", "after", "df", numeric_col_B, "after", array_col)

In [ ]:
t.create(None, "cols.move", "before", "df", numeric_col_B, "before", array_col)

In [ ]:
t.create(None, "cols.move", "beginning", "df", numeric_col_B, "beginning")

In [ ]:
t.create(None, "cols.move", "end", "df", numeric_col_B, "end")

In [ ]:
t.create(None, "cols.select", None, "df", 0, numeric_col)

In [ ]:
t.create(None, "cols.select", "regex", "df", "n.*", regex=True),

In [ ]:
t.create(None, "cols.sort", None, "df")
t.run()

In [ ]:
t.create(None, "cols.sort", "desc", "df", None, "desc")

In [ ]:
t.create(None, "cols.sort", "asc", "df", None, "asc")

In [ ]:
t.run()

In [ ]:
t.create(None, "cols.fill_na", None, "df", numeric_col, "1")

In [ ]:
t.create(None, "cols.fill_na", "array", "df", None, "japanese name", ["1", "2"])

In [ ]:
t.run()

In [ ]:
t.create(None, "cols.fill_na", "bool", "df", None, "Cybertronian", False)

In [ ]:
t.run()

In [ ]:
t.create(None, "cols.fill_na", "all_columns", "df", ["names", "height(ft)", "function", "rank", "age"], "2")

## Nest

In [ ]:
t.create(None, "cols.nest", None, "df", None, [numeric_col, numeric_col_B], separator=" ", output_col=new_col)

In [ ]:
# t.create(None, "cols.nest", "mix", "df", [F.col(numeric_col_C), F.col(numeric_col_B)], "E", separator="--")

In [ ]:
df_na = source_df.cols.drop("NullType").rows.drop_na("*")

t.create(df_na, "cols.nest", "vector_all_columns", "df", None, [numeric_col_C, numeric_col_B], shape="vector",
         output_col=new_col)

In [ ]:
t.create(df_na, "cols.nest", "vector", "df", None, [numeric_col_C, numeric_col_B], shape="vector", output_col=new_col)

In [ ]:
t.create(None, "cols.nest", "array", "df", None, [numeric_col, numeric_col_B, numeric_col_C], shape="array",
         output_col=new_col)

In [ ]:
t.create(None, "cols.count_by_dtypes", None, "dict", None, "*", infer=False)

In [ ]:
t.create(None, "cols.count_by_dtypes", "infer", "dict", None, "*", infer=True)

In [ ]:
t.run()

In [ ]:

dtypes_df = op.create.df(
    [
        ("col 1", "str", True),
        ("col 2", "str", True),
        ("col 3", "int", True),

    ],
    [
        ("male", "male", 1),
        ("optimus", "bumblebee", 1),
        ("3", "4.1", 1),
        ("true", "False", 1),
        ("[1,2,3,4]", "(1,2,3,4)", 1),
        ("{1,2,3,4}", "{'key1' :1 , 'key2':2}", 1),
        ("1.1.1.1", "123.123.123.123", 1),
        ("http://hi-optimuse.com", "https://hi-bumblebee.com", 1),
        ("optimus@cybertron.com", "bumblebee@cybertron.com", 1),
        ("5123456789123456", "373655783158306", 1),
        ("11529", "30345", 1),
        ("04/10/1980", "04/10/1980", 1),
        ("null", "Null", 1),
        ("", "", 1),
        (None, None, 1)

    ], infer_schema=True)

In [ ]:
t.create(dtypes_df, "cols.count_by_dtypes", "infer", "dict", None, "*", infer=True)

In [ ]:
t.run()

In [ ]:
t.create(source_df, "cols.count_by_dtypes", None, "dict", None, "*", infer=False)

In [ ]:
t.run()

In [ ]:
source_df.table()

In [ ]:
import logging
import sys
from datetime import date, datetime

from pyspark.sql.types import *

from optimus import Optimus

mismatch_df = op.create.df(
    [
        ("names", "str", True),
        ("height(ft)", "int", True),
        ("function", "str", True),
        ("rank", "int", True),
        ("age", "int", True),
        ("weight(t)", "float", True),
        ("japanese name", ArrayType(StringType()), True),
        ("last position seen", "str", True),
        ("date arrival", "str", True),
        ("last date seen", "str", True),
        ("attributes", ArrayType(FloatType()), True),
        ("DateType", DateType()),
        ("Timestamp", TimestampType()),
        ("Cybertronian", "bool", True),
        ("function(binary)", "binary", False),
        ("NullType", "null", True),

    ],
    [
        ("31/12/2019", 28, "1978-12-20", 10, 5000000, 4.30, ["Inochi", "Convoy"], "19.442735,-99.201111", "1980/04/10",
         "2016/09/10", [8.5344, 4300.0], date(2016, 9, 10), datetime(2014, 6, 24), True, bytearray("Leader", "utf-8"),
         None),
        ("bumbl#ebéé  ", 17, "Espionage", 7, 5000000, 2.0, ["Bumble", "Goldback"], "10.642707,-71.612534", "1980/04/10",
         "2015/08/10", [5.334, 2000.0], date(2015, 8, 10), datetime(2014, 6, 24), True, bytearray("Espionage", "utf-8"),
         None),
        ("ironhide&", 26, "Security", 7, 5000000, 4.0, ["Roadbuster"], "37.789563,-122.400356", "1980/04/10",
         "2014/07/10", [7.9248, 4000.0], date(2014, 6, 24), datetime(2014, 6, 24), True, bytearray("Security", "utf-8"),
         None),
        ("Jazz", 13, "First Lieutenant", 8, 5000000, 1.80, ["Meister"], "33.670666,-117.841553", "1980/04/10",
         "2013/06/10", [3.9624, 1800.0], date(2013, 6, 24), datetime(2014, 6, 24), True,
         bytearray("First Lieutenant", "utf-8"), None),
        ("Megatron", None, "None", 10, 5000000, 5.70, ["Megatron"], None, "1980/04/10", "2012/05/10", [None, 5700.0],
         date(2012, 5, 10), datetime(2014, 6, 24), True, bytearray("None", "utf-8"), None),
        ("Metroplex_)^$", 300, "Battle Station", 8, 5000000, None, ["Metroflex"], None, "1980/04/10", "2011/04/10",
         [91.44, None], date(2011, 4, 10), datetime(2014, 6, 24), True, bytearray("Battle Station", "utf-8"), None),
        ("1", 2, "3", 4, 5, 6.0, ["7"], 8, "1980/04/10", "2011/04/10",
         [11.0], date(2011, 4, 10), datetime(2014, 6, 24), True, bytearray("15", "utf-8"), None)
    ], infer_schema=True)

In [ ]:
mismatch = {"names": "dd/mm/yyyy", "height(ft)": r'^([0-2][0-9]|(3)[0-1])(\/)(((0)[0-9])|((1)[0-2]))(\/)\d{4}$',
            "function": "yyyy-mm-dd"}

In [ ]:
m = {"names": "int"}

In [ ]:
mismatch_df.table()

In [ ]:
t.create(mismatch_df, "cols.count_mismatch", None, "dict", None, {"names": "int"})

In [ ]:
t.run()

## Unnest String

In [ ]:
t.create(None, "cols.unnest", "string_multi_index", "df", None, date_col, "/", splits=3, index=2)

In [ ]:
t.create(None, "cols.unnest", "string_multi_index", "df", None, date_col, "/", splits=3, index=[1, 2])

In [ ]:
t.create(None, "cols.unnest", "string_infer_split", "df", None, date_col, "/")

In [ ]:
t.create(None, "cols.unnest", "string_no_index", "df", None, date_col, "/", splits=3)

In [ ]:
t.create(None, "cols.unnest", "string_output_columns", "df", None, date_col, "/", splits=3,
         output_cols=[("year", "month", "day")])

In [ ]:
t.create(None, "cols.unnest", "array_index", "df", None, array_col, index=2)

In [ ]:
t.create(None, "cols.unnest", "array_multi_index", "df", None, array_col, index=[1, 2])

In [ ]:
t.run()

In [ ]:
t.create(None, "cols.unnest", "string_multi_colum_multi_index_multi_output", "df", None,
         ["date arrival", "last date seen"], "/", index=[(1, 2), (1, 2)],
         output_cols=[("year1", "month1"), ("year2", "month2")])

In [ ]:
t.create(None, "cols.unnest", "string_multi_colum_multi_output", "df", None, ["date arrival", "last date seen"], "/",
         output_cols=[("year1", "month1"), ("year2", "month2")])

In [ ]:
t.create(None, "cols.unnest", "array", "df", array_col)

In [ ]:
t.create(None, "cols.unnest", "array_all_columns", "df", array_col)

In [ ]:
t.create(None, "cols.is_na", "all_columns", "df", "*")

In [ ]:
t.create(None, "cols.is_na", None, "df", numeric_col)

In [ ]:
t.run()

In [ ]:
from pyspark.sql.types import *
from optimus import Optimus
from optimus.helpers.json import json_enconding
from pyspark.ml.linalg import Vectors, VectorUDT, DenseVector
import numpy as np

In [ ]:
nan = np.nan
import datetime

In [ ]:
actual_df = op.load.json('https://raw.githubusercontent.com/ironmussa/Optimus/master/examples/data/foo.json')
expected_df = op.create.df(
    [('billingId', LongType(), True), ('birth', StringType(), True), ('dummyCol', StringType(), True),
     ('firstName', StringType(), True), ('id', LongType(), True), ('lastName', StringType(), True),
     ('price', LongType(), True), ('product', StringType(), True)],
    [(123, '1980/07/07', 'never', 'Luis', 1, 'Alvarez$$%!', 10, 'Cake')])

# assert (expected_df.collect() == actual_df.collect())

from deepdiff import DeepDiff  # For Deep Difference of 2 objects

actual_df.table()
expected_df.table()

# source_df.table()
# print(actual_df.to_json())
# print(expected_df.to_json())
a1 = actual_df.to_json()
e1 = expected_df.to_json()

In [ ]:
ddiff = DeepDiff(a1, e1, ignore_order=False)
print(ddiff)

# Rows Test

In [ ]:
t = Test(op, df, "df_rows", imports=["from pyspark.ml.linalg import Vectors, VectorUDT, DenseVector",
                                     "import numpy as np",
                                     "nan = np.nan",
                                     "import datetime",
                                     "from pyspark.sql import functions as F",
                                     "from optimus.functions import abstract_udf as audf"])

In [ ]:
rows = [
    ("Optim'us", 28, "Leader", 10, 5000000, 4.30, ["Inochi", "Convoy"], "19.442735,-99.201111", "1980/04/10",
     "2016/09/10", [8.5344, 4300.0], date(2016, 9, 10), datetime(2014, 6, 24), True, bytearray("Leader", "utf-8"),
     None)
]

In [ ]:
df = op.load.url("https://raw.githubusercontent.com/ironmussa/Optimus/master/examples/data/foo.csv")

In [ ]:
t = Test(op, source_df, "op_io", imports=["from pyspark.ml.linalg import Vectors, VectorUDT, DenseVector",
                                          "import numpy as np",
                                          "nan = np.nan",
                                          "import datetime",
                                          "from pyspark.sql import functions as F"], path="op_io", final_path="..")

In [ ]:
t.create(op, "load.csv", "local_csv", "df", "../../examples/data/foo.csv")
t.create(op, "load.json", "local_json", "df", "../../examples/data/foo.json")
t.create(op, "load.parquet", "local_parquet", "df", "../../examples/data/foo.parquet")
t.create(op, "load.csv", "remote_csv", "df",
         "https://raw.githubusercontent.com/ironmussa/Optimus/master/examples/data/foo.csv")

In [ ]:
t.create(op, "load.json", "remote_json", "df",
         "https://raw.githubusercontent.com/ironmussa/Optimus/master/examples/data/foo.json")

In [ ]:
t.create(op, "load.parquet", "remote_parquet", "df",
         "https://raw.githubusercontent.com/ironmussa/Optimus/master/examples/data/foo.parquet")

In [ ]:
from optimus.profiler.profiler import Profiler

p = Profiler()

print(p.run(source_df1, "japanese name"))

In [ ]:
# df_string = source_df.cols.cast("*","str")
t.create(source_df, "save.csv", None, None, "test.csv")

In [ ]:
t.create(None, "save.json", None, None, "test.json")

In [ ]:
t.create(None, "save.parquet", None, None, "test.parquet")

In [ ]:
t.run()

In [ ]:
source_df.table()

# Ouliers

In [ ]:
import pandas as pd
from pyspark.sql.types import *
from datetime import date, datetime

cols = [
    ("names", "str"),
    ("height(ft)", ShortType()),
    ("function", "str"),
    ("rank", ByteType()),
    ("age", "int"),
    ("weight(t)", "float"),
    "japanese name",
    "last position seen",
    "date arrival",
    "last date seen",
    ("attributes", ArrayType(FloatType())),
    ("Date Type", DateType()),
    ("timestamp", TimestampType()),
    ("Cybertronian", BooleanType()),
    ("function(binary)", BinaryType()),
    ("NullType", NullType())

]

rows = [
    ("Optim'us", -28, "Leader", 10, 5000000, 4.30, ["Inochi", "Convoy"], "19.442735,-99.201111", "1980/04/10",
     "2016/09/10", [8.5344, 4300.0], date(2016, 9, 10), datetime(2014, 6, 24), True, bytearray("Leader", "utf-8"),
     None),
    ("bumbl#ebéé  ", 17, "Espionage", 7, 5000000, 2.0, ["Bumble", "Goldback"], "10.642707,-71.612534", "1980/04/10",
     "2015/08/10", [5.334, 2000.0], date(2015, 8, 10), datetime(2014, 6, 24), True, bytearray("Espionage", "utf-8"),
     None),
    ("ironhide&", 26, "Security", 7, 5000000, 4.0, ["Roadbuster"], "37.789563,-122.400356", "1980/04/10",
     "2014/07/10", [7.9248, 4000.0], date(2014, 6, 24), datetime(2014, 6, 24), True, bytearray("Security", "utf-8"),
     None),
    ("Jazz", 13, "First Lieutenant", 8, 5000000, 1.80, ["Meister"], "33.670666,-117.841553", "1980/04/10",
     "2013/06/10", [3.9624, 1800.0], date(2013, 6, 24), datetime(2014, 6, 24), True,
     bytearray("First Lieutenant", "utf-8"), None),
    ("Megatron", None, "None", 10, 5000000, 5.70, ["Megatron"], None, "1980/04/10", "2012/05/10", [None, 5700.0],
     date(2012, 5, 10), datetime(2014, 6, 24), True, bytearray("None", "utf-8"), None),
    ("Metroplex_)^$", 300, "Battle Station", 8, 5000000, None, ["Metroflex"], None, "1980/04/10", "2011/04/10",
     [91.44, None], date(2011, 4, 10), datetime(2014, 6, 24), True, bytearray("Battle Station", "utf-8"), None),
    (None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None),

]
source_df = op.create.df(cols, rows)
source_df.table()

In [ ]:
t = Test(op, source_df, "df_outliers", imports=["from pyspark.ml.linalg import Vectors, VectorUDT, DenseVector",
                                                "import numpy as np",
                                                "nan = np.nan",
                                                "import datetime",
                                                "from pyspark.sql import functions as F"], path="df_outliers",
         final_path="..")

In [ ]:
from pyspark.sql import functions as F


def func(col_name, attrs):
    return F.col(col_name) * 2


numeric_col = "height(ft)"
numeric_col_B = "rank"
numeric_col_C = "rank"
string_col = "function"
date_col = "date arrival"
date_col_B = "last date seen"
new_col = "new col"
array_col = "attributes"

In [ ]:
source_df.table()

## Tukey

In [ ]:
t.create(None, "outliers.tukey", None, "df", "select", numeric_col)

In [ ]:
source_df.outliers.tukey(numeric_col).drop().table()

In [ ]:
t.create(None, "outliers.tukey", None, "df", "drop", numeric_col)

In [ ]:
t.create(None, "outliers.tukey", None, "json", "whiskers", numeric_col)

In [ ]:
t.create(None, "outliers.tukey", None, "json", "count", numeric_col)

In [ ]:
t.create(None, "outliers.tukey", None, "json", "non_outliers_count", numeric_col)

In [ ]:
t.create(None, "outliers.tukey", None, "json", "info", numeric_col)

In [ ]:
t.run()

## Zscore

In [ ]:
threshold = 0.5

In [ ]:
t.create(None, "outliers.z_score", None, "df", "select", numeric_col, threshold)

In [ ]:
source_df.outliers.z_score('height(ft)', 0.5).select()

In [ ]:
t.create(None, "outliers.z_score", None, "df", "drop", numeric_col, threshold)

In [ ]:
t.create(None, "outliers.z_score", None, "json", "count", numeric_col, threshold)

In [ ]:
t.create(None, "outliers.z_score", None, "json", "non_outliers_count", numeric_col, threshold)

In [ ]:
t.create(None, "outliers.z_score", None, "json", "info", numeric_col, threshold)

In [ ]:
t.run()

## Modified Zscore

In [ ]:
threshold = 0.5
relative_error = 10000

In [ ]:
t.create(None, "outliers.modified_z_score", None, "df", "select", numeric_col, threshold, relative_error)

In [ ]:
t.create(None, "outliers.modified_z_score", None, "df", "drop", numeric_col, threshold, relative_error)

In [ ]:
t.create(None, "outliers.modified_z_score", None, "json", "count", numeric_col, threshold, relative_error)

In [ ]:
t.create(None, "outliers.modified_z_score", None, "json", "non_outliers_count", numeric_col, threshold, relative_error)

In [ ]:
t.create(None, "outliers.modified_z_score", None, "json", "info", numeric_col, threshold, relative_error)

In [ ]:
t.run()

## Mad

In [ ]:
threshold = 0.5
relative_error = 10000

In [ ]:
t.create(None, "outliers.mad", None, "df", "select", numeric_col, threshold, relative_error)

In [ ]:
t.create(None, "outliers.mad", None, "df", "drop", numeric_col, threshold, relative_error)

In [ ]:
t.create(None, "outliers.mad", None, "json", "count", numeric_col, threshold, relative_error)

In [ ]:
t.create(None, "outliers.mad", None, "json", "non_outliers_count", numeric_col, threshold, relative_error)

In [ ]:
t.create(None, "outliers.mad", None, "json", "info", numeric_col, threshold, relative_error)

In [ ]:
t.run()

## Keycolision

In [ ]:
source_df = op.read.csv("../../examples/data/random.csv", header=True, sep=";").limit(10)

In [ ]:
source_df.table()

In [ ]:
t = Test(op, source_df, "df_keycollision", imports=["from pyspark.ml.linalg import Vectors, VectorUDT, DenseVector",
                                                    "import numpy as np",
                                                    "nan = np.nan",
                                                    "import datetime",
                                                    "from pyspark.sql import functions as F",
                                                    "from optimus.ml import keycollision as keyCol"],
         path="df_keycollision", final_path="..")

from optimus.ml import keycollision as keyCol

In [ ]:
t.create(keyCol, "fingerprint", None, "df", None, source_df, "STATE")
t.run()

In [ ]:
t.create(keyCol, "fingerprint_cluster", None, "json", None, source_df, "STATE")

In [ ]:
t.run()

In [ ]:
t.create(keyCol, "n_gram_fingerprint", None, "df", None, source_df, "STATE")

In [ ]:
t.create(keyCol, "n_gram_fingerprint_cluster", None, "json", None, source_df, "STATE", 2)

In [ ]:
t.run()

## Distance cluster

In [ ]:
source_df = op.read.csv("../../examples/data/random.csv", header=True, sep=";").limit(1000)

In [ ]:
t = Test(op, source_df, "df_distance_cluster", imports=["from pyspark.ml.linalg import Vectors, VectorUDT, DenseVector",
                                                        "import numpy as np",
                                                        "nan = np.nan",
                                                        "import datetime",
                                                        "from pyspark.sql import functions as F",
                                                        "from optimus.ml import distancecluster as dc"],
         path="df_distance_cluster", final_path="..")

from optimus.ml import distancecluster as dc

In [ ]:
df.table()

In [ ]:
t.create(dc, "levenshtein_cluster", None, 'dict', None, source_df, "STATE")

In [ ]:
t.run()

In [ ]:
df_cancer = op.spark.read.csv('../data_cancer.csv', sep=',', header=True, inferSchema=True)

In [ ]:
columns = ['diagnosis', 'radius_mean', 'texture_mean', 'perimeter_mean', 'area_mean', 'smoothness_mean',
           'compactness_mean', 'concavity_mean', 'concave points_mean', 'symmetry_mean',
           'fractal_dimension_mean']

In [ ]:
df_model, rf_model = op.ml.gbt(df_cancer, columns, "diagnosis")

In [ ]:
df_model.table()

## Row

In [ ]:
source_df = op.create.df([
    ("words", "str", True),
    ("num", "int", True),
    ("animals", "str", True),
    ("thing", StringType(), True),
    ("second", "int", True),
    ("filter", StringType(), True)
],
    [
        ("  I like     fish  ", 1, "dog dog", "housé", 5, "a"),
        ("    zombies", 2, "cat", "tv", 6, "b"),
        ("simpsons   cat lady", 2, "frog", "table", 7, "1"),
        (None, 3, "eagle", "glass", 8, "c"),
    ])

In [ ]:
from optimus.audf import abstract_udf as audf

In [ ]:
t = Test(op, source_df, "df_rows", imports=["from pyspark.ml.linalg import Vectors, VectorUDT, DenseVector",
                                            "import numpy as np",
                                            "nan = np.nan",
                                            "from optimus.audf import abstract_udf as audf",
                                            "import datetime",
                                            "from pyspark.sql import functions as F"], path="df_rows", final_path="..")

In [ ]:
row = [("this is a word", 2, "this is an animal",
        "this is a thing", 64, "this is a filter",)]

In [ ]:
t.create(None, "rows.append", None, "df", None, row)

In [ ]:
fil = (source_df["num"] == 1)

In [ ]:
t.create(None, "rows.select", None, "df", None, fil)

In [ ]:
t.create(None, "rows.select_by_dtypes", None, "df", None, "filter", "integer")

In [ ]:
fil = (source_df["num"] == 2) | (source_df["second"] == 5)
print(str(fil))
# type(fil)

In [ ]:
t.create(None, "rows.drop", None, "df", None, fil)

In [ ]:
t.create(None, "rows.drop_by_dtypes", None, "df", None, "filter", "integer")

In [ ]:
def func_data_type(value, attr):
    return value > 1

In [ ]:
a = audf("num", func_data_type, "boolean")

In [ ]:
t.create(None, "rows.drop", "audf", "df", None, a)

In [ ]:
t.create(None, "rows.sort", None, "df", None, "num", "desc")

In [ ]:
t.create(None, "rows.is_in", None, "df", None, "num", 2)

In [ ]:
t.create(None, "rows.between", None, "df", None, "second", 6, 8)

In [ ]:
t.create(None, "rows.between", "equal", "df", None, "second", 6, 8, equal=True)

In [ ]:
t.create(None, "rows.between", "invert_equal", "df", None, "second", 6, 8, invert=True, equal=True)

In [ ]:
t.create(None, "rows.between", "bounds", "df", None, "second", bounds=[(6, 7), (7, 8)], invert=True, equal=True)

In [ ]:
t.run()