# This notebook create the tests in python code. All this cells must be run to executed the tests

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import sys
sys.path.append("../..")

In [3]:
from optimus import Optimus
from optimus.helpers.test import Test

In [4]:
from optimus import Optimus
op = Optimus("dask", n_workers=1, threads_per_worker=8, processes=False, memory_limit="3G", comm=True)

C:\Users\argenisleon\Anaconda3\lib\site-packages\distributed\dashboard\core.py:79: UserWarning:
Port 8787 is already in use.
Perhaps you already have a cluster running?
Hosting the diagnostics dashboard on a random port instead.
  warnings.warn("\n" + msg)

In [5]:
import numpy as np
import pandas as pd

In [6]:
import pandas as pd
from pyspark.sql.types import *
from datetime import date, datetime

cols = [
    ("names", "str"),
    ("height(ft)", ShortType()),
    ("function", "str"),
    ("rank", ByteType()),
    ("age", "int"),
    ("weight(t)", "float"),
    "japanese name",
    "last position seen",
    "date arrival",
    "last date seen",
    ("attributes", ArrayType(FloatType())),
    ("Date Type", DateType()),
    ("timestamp", TimestampType()),
    ("Cybertronian", BooleanType()),
    ("function(binary)", BinaryType()),
    ("NullType", NullType())

]

rows = [
    ("Optim'us", -28, "Leader", 10, 4000000, 4.30, ["Inochi", "Convoy"], "19.442735,-99.201111", "1980/04/10",
     "2016/09/10", [8.5344, 4300.0], date(2016, 9, 10), datetime(2014, 6, 24), True, bytearray("Leader", "utf-8"),
     None),
    ("bumbl#ebéé  ", 17, "Espionage", 7, 5000000, 2.0, ["Bumble", "Goldback"], "10.642707,-71.612534", "1980/04/10",
     "2015/08/10", [5.334, 2000.0], date(2015, 8, 10), datetime(2014, 6, 24), True, bytearray("Espionage", "utf-8"),
     None),
    ("ironhide&", 26, "Security", 7, 7000000, 4.0, ["Roadbuster"], "37.789563,-122.400356", "1980/04/10",
     "2014/07/10", [7.9248, 4000.0], date(2014, 6, 24), datetime(2014, 6, 24), True, bytearray("Security", "utf-8"),
     None),
    ("Jazz", 13, "First Lieutenant", 8, 5000000, 1.80, ["Meister"], "33.670666,-117.841553", "1980/04/10",
     "2013/06/10", [3.9624, 1800.0], date(2013, 6, 24), datetime(2014, 6, 24), True,
     bytearray("First Lieutenant", "utf-8"), None),
    ("Megatron", None, "None", 10, 5000000, 5.70, ["Megatron"], None, "1980/04/10", "2012/05/10", [None, 5700.0],
     date(2012, 5, 10), datetime(2014, 6, 24), True, bytearray("None", "utf-8"), None),
    ("Metroplex_)^$", 300, "Battle Station", 8, 5000000, None, ["Metroflex"], None, "1980/04/10", "2011/04/10",
     [91.44, None], date(2011, 4, 10), datetime(2014, 6, 24), True, bytearray("Battle Station", "utf-8"), None),
    (None, None, None, np.nan, None, None, None, None, None, None, None, None, None, None, None, None),

]

source_df = pd.DataFrame(columns = ['names','height(ft)','function',
                      'rank','age','weight(t)','japanese name','last position seen',
                      'date arrival','last date seen','attributes','Date Type','timestamp',
                      'Cybertronian','function(binary)','NullType'], 
             data= rows,
#              dtype = (object,object,object,
#                                 object,object,object,object,object,
#                                 object,object,object,object,object,
#                                 object,object)
            )

# from dask import dataframe as dd

# a=pd.DataFrame(source_df.to_dict())
from dask import dataframe as dd
source_df = dd.from_pandas(source_df, npartitions=1)

In [7]:
source_df.compute()

,names,height(ft),function,rank,age,weight(t),japanese name,last position seen,date arrival,last date seen,attributes,Date Type,timestamp,Cybertronian,function(binary),NullType
0,Optim'us,-28.0,Leader,10.0,4000000.0,4.3,"[Inochi, Convoy]","19.442735,-99.201111",1980/04/10,2016/09/10,"[8.5344, 4300.0]",2016-09-10,2014-06-24,True,"[76, 101, 97, 100, 101, 114]",None
1,bumbl#ebéé,17.0,Espionage,7.0,5000000.0,2.0,"[Bumble, Goldback]","10.642707,-71.612534",1980/04/10,2015/08/10,"[5.334, 2000.0]",2015-08-10,2014-06-24,True,"[69, 115, 112, 105, 111, 110, 97, 103, 101]",None
2,ironhide&,26.0,Security,7.0,7000000.0,4.0,[Roadbuster],"37.789563,-122.400356",1980/04/10,2014/07/10,"[7.9248, 4000.0]",2014-06-24,2014-06-24,True,"[83, 101, 99, 117, 114, 105, 116, 121]",None
3,Jazz,13.0,First Lieutenant,8.0,5000000.0,1.8,[Meister],"33.670666,-117.841553",1980/04/10,2013/06/10,"[3.9624, 1800.0]",2013-06-24,2014-06-24,True,"[70, 105, 114, 115, 116, 32, 76, 105, 101, 117...",None
4,Megatron,NaN,None,10.0,5000000.0,5.7,[Megatron],None,1980/04/10,2012/05/10,"[None, 5700.0]",2012-05-10,2014-06-24,True,"[78, 111, 110, 101]",None
5,Metroplex_)^$,300.0,Battle Station,8.0,5000000.0,NaN,[Metroflex],None,1980/04/10,2011/04/10,"[91.44, None]",2011-04-10,2014-06-24,True,"[66, 97, 116, 116, 108, 101, 32, 83, 116, 97, ...",None
6,None,NaN,None,NaN,NaN,NaN,None,None,None,None,None,None,NaT,None,None,None

### End Init Section

# Test

## Columns Test

In [8]:
t = Test(op, source_df, "df_cols_dask", imports=["import numpy as np",
                                            "nan = np.nan",
                                            "import datetime",], path="df_cols_dask", final_path="..")

In [9]:
from pyspark.sql import functions as F


def func(col_name, attrs):
    return F.col(col_name) * 2

numeric_col = "height(ft)"
numeric_col_B = "rank"
numeric_col_C = "rank"
string_col = "function"
date_col = "date arrival"
date_col_B = "last date seen"
new_col = "new col"
array_col = "attributes"

In [10]:
source_df.compute()

,names,height(ft),function,rank,age,weight(t),japanese name,last position seen,date arrival,last date seen,attributes,Date Type,timestamp,Cybertronian,function(binary),NullType
0,Optim'us,-28.0,Leader,10.0,4000000.0,4.3,"[Inochi, Convoy]","19.442735,-99.201111",1980/04/10,2016/09/10,"[8.5344, 4300.0]",2016-09-10,2014-06-24,True,"[76, 101, 97, 100, 101, 114]",None
1,bumbl#ebéé,17.0,Espionage,7.0,5000000.0,2.0,"[Bumble, Goldback]","10.642707,-71.612534",1980/04/10,2015/08/10,"[5.334, 2000.0]",2015-08-10,2014-06-24,True,"[69, 115, 112, 105, 111, 110, 97, 103, 101]",None
2,ironhide&,26.0,Security,7.0,7000000.0,4.0,[Roadbuster],"37.789563,-122.400356",1980/04/10,2014/07/10,"[7.9248, 4000.0]",2014-06-24,2014-06-24,True,"[83, 101, 99, 117, 114, 105, 116, 121]",None
3,Jazz,13.0,First Lieutenant,8.0,5000000.0,1.8,[Meister],"33.670666,-117.841553",1980/04/10,2013/06/10,"[3.9624, 1800.0]",2013-06-24,2014-06-24,True,"[70, 105, 114, 115, 116, 32, 76, 105, 101, 117...",None
4,Megatron,NaN,None,10.0,5000000.0,5.7,[Megatron],None,1980/04/10,2012/05/10,"[None, 5700.0]",2012-05-10,2014-06-24,True,"[78, 111, 110, 101]",None
5,Metroplex_)^$,300.0,Battle Station,8.0,5000000.0,NaN,[Metroflex],None,1980/04/10,2011/04/10,"[91.44, None]",2011-04-10,2014-06-24,True,"[66, 97, 116, 116, 108, 101, 32, 83, 116, 97, ...",None
6,None,NaN,None,NaN,NaN,NaN,None,None,None,None,None,None,NaT,None,None,None

In [12]:
t.create(None, "cols.clip", "all_columns", "df", None,"*", 3, 5)

Creating test_cols_clip_all_columns() test function...
["'*'", '3', '5']

C:\Users\argenisleon\Anaconda3\lib\site-packages\dask\dataframe\core.py:6157: UserWarning: Insufficient elements for `head`. 10 elements requested, only 7 elements available. Try passing larger `npartitions` to `head`.
  warnings.warn(msg.format(n, len(r)))

In [13]:
t.create(None, "cols.cast", "all_columns", "df", None, "*", "str")

Creating test_cols_cast_all_columns() test function...
["'*'", "'str'"]

C:\Users\argenisleon\Anaconda3\lib\site-packages\dask\dataframe\core.py:6157: UserWarning: Insufficient elements for `head`. 10 elements requested, only 7 elements available. Try passing larger `npartitions` to `head`.
  warnings.warn(msg.format(n, len(r)))

In [14]:
t.create(None, "cols.is_na", "all_columns", "df", None, "*")

Creating test_cols_is_na_all_columns() test function...
["'*'"]

C:\Users\argenisleon\Anaconda3\lib\site-packages\dask\dataframe\core.py:6157: UserWarning: Insufficient elements for `head`. 10 elements requested, only 7 elements available. Try passing larger `npartitions` to `head`.
  warnings.warn(msg.format(n, len(r)))

In [19]:
for i in source_df.compute().attributes:
    print(type(i[0]))

<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'NoneType'>
<class 'float'>

TypeError: 'NoneType' object is not subscriptable

In [55]:
source_df.cols.unnest("attributes").compute()

C:\Users\argenisleon\Anaconda3\lib\site-packages\dask\dataframe\core.py:3199: UserWarning:
You did not provide metadata, so Dask is running your function on a small dataset to guess output types. It is possible that Dask will guess incorrectly.
To provide an explicit output types or to silence this message, please provide the `meta=` keyword, as described in the map or apply function that you are using.
  Before: .apply(func)
  After:  .apply(func, meta={0: 'object'})

  warnings.warn(meta_warning(meta))
distributed.worker - WARNING -  Compute Failed
Function:  subgraph_callable
args:      (<class 'pandas.core.series.Series'>, True, (), 'getitem-35615ef96e67cd7f4f3338b280f5fa51',            names  height(ft)          function  rank        age  weight(t)  \
0       Optim'us       -28.0            Leader  10.0  4000000.0        4.3
1   bumbl#ebéé          17.0         Espionage   7.0  5000000.0        2.0
2      ironhide&        26.0          Security   7.0  7000000.0        4.0
3           Jazz        13.0  First Lieutenant   8.0  5000000.0        1.8
4       Megatron         NaN              None  10.0  5000000.0        5.7
5  Metroplex_)^$       300.0    Battle Station   8.0  5000000.0        NaN
6           None         NaN              None   NaN        NaN        NaN

        japanese name     last position seen date arrival last date seen  \
0    [Inochi, Convoy]   19.442735,-99.201111   1980/04/10     2016/09/10
1  [Bumble, Goldback]   10.642707,-71.612534   1980/04/10     2015/08/10
2        [Roadbuster]  37.789563,-122.400356   1980/04/
kwargs:    {}
Exception: ValueError('The columns in the computed data do not match the columns in the provided metadata\n  Extra:   [1]\n  Missing: []')

ValueError: The columns in the computed data do not match the columns in the provided metadata
  Extra:   [1]
  Missing: []

In [41]:
source_df.compute()

,names,height(ft),function,rank,age,weight(t),japanese name,last position seen,date arrival,last date seen,attributes,Date Type,timestamp,Cybertronian,function(binary),NullType
0,Optim'us,-28.0,Leader,10.0,4000000.0,4.3,"[Inochi, Convoy]","19.442735,-99.201111",1980/04/10,2016/09/10,"[8.5344, 4300.0]",2016-09-10,2014-06-24,True,"[76, 101, 97, 100, 101, 114]",None
1,bumbl#ebéé,17.0,Espionage,7.0,5000000.0,2.0,"[Bumble, Goldback]","10.642707,-71.612534",1980/04/10,2015/08/10,"[5.334, 2000.0]",2015-08-10,2014-06-24,True,"[69, 115, 112, 105, 111, 110, 97, 103, 101]",None
2,ironhide&,26.0,Security,7.0,7000000.0,4.0,[Roadbuster],"37.789563,-122.400356",1980/04/10,2014/07/10,"[7.9248, 4000.0]",2014-06-24,2014-06-24,True,"[83, 101, 99, 117, 114, 105, 116, 121]",None
3,Jazz,13.0,First Lieutenant,8.0,5000000.0,1.8,[Meister],"33.670666,-117.841553",1980/04/10,2013/06/10,"[3.9624, 1800.0]",2013-06-24,2014-06-24,True,"[70, 105, 114, 115, 116, 32, 76, 105, 101, 117...",None
4,Megatron,NaN,None,10.0,5000000.0,5.7,[Megatron],None,1980/04/10,2012/05/10,"[None, 5700.0]",2012-05-10,2014-06-24,True,"[78, 111, 110, 101]",None
5,Metroplex_)^$,300.0,Battle Station,8.0,5000000.0,NaN,[Metroflex],None,1980/04/10,2011/04/10,"[91.44, None]",2011-04-10,2014-06-24,True,"[66, 97, 116, 116, 108, 101, 32, 83, 116, 97, ...",None
6,None,NaN,None,NaN,NaN,NaN,None,None,None,None,None,None,NaT,None,None,None

In [56]:
source_df['height(ft)'].astype(str).str.split(".").compute()

0    [-28, 0]
1     [17, 0]
2     [26, 0]
3     [13, 0]
4       [nan]
5    [300, 0]
6       [nan]
Name: height(ft), dtype: object

In [99]:
import dask
source_df['height(ft)'].astype(str).str.split(".", expand=True, n=1)
# apply(dask.dataframe.Series, meta=("a")).compute()

Dask DataFrame Structure:
                    0       1
npartitions=6
0              object  object
1                 ...     ...
...               ...     ...
5                 ...     ...
6                 ...     ...
Dask Name: str-split, 31 tasks

In [86]:
source_df['attributes'].compute().apply(pd.Series)

         0       1
0   8.5344  4300.0
1   5.3340  2000.0
2   7.9248  4000.0
3   3.9624  1800.0
4      NaN  5700.0
5  91.4400     NaN
6      NaN     NaN

In [93]:
source_df = source_df.ext.repartition(6)

In [113]:
source_df["date arrival"].astype(str).str.split("/", expand=True, n=2).compute()

      0     1     2
0  1980    04    10
1  1980    04    10
2  1980    04    10
3  1980    04    10
4  1980    04    10
5  1980    04    10
6  None  None  None

In [79]:
source_df.compute()

,names,height(ft),function,rank,age,weight(t),japanese name,last position seen,date arrival,last date seen,attributes,Date Type,timestamp,Cybertronian,function(binary),NullType
0,Optim'us,-28.0,Leader,10.0,4000000.0,4.3,"[Inochi, Convoy]","19.442735,-99.201111",1980/04/10,2016/09/10,"[8.5344, 4300.0]",2016-09-10,2014-06-24,True,"[76, 101, 97, 100, 101, 114]",None
1,bumbl#ebéé,17.0,Espionage,7.0,5000000.0,2.0,"[Bumble, Goldback]","10.642707,-71.612534",1980/04/10,2015/08/10,"[5.334, 2000.0]",2015-08-10,2014-06-24,True,"[69, 115, 112, 105, 111, 110, 97, 103, 101]",None
2,ironhide&,26.0,Security,7.0,7000000.0,4.0,[Roadbuster],"37.789563,-122.400356",1980/04/10,2014/07/10,"[7.9248, 4000.0]",2014-06-24,2014-06-24,True,"[83, 101, 99, 117, 114, 105, 116, 121]",None
3,Jazz,13.0,First Lieutenant,8.0,5000000.0,1.8,[Meister],"33.670666,-117.841553",1980/04/10,2013/06/10,"[3.9624, 1800.0]",2013-06-24,2014-06-24,True,"[70, 105, 114, 115, 116, 32, 76, 105, 101, 117...",None
4,Megatron,NaN,None,10.0,5000000.0,5.7,[Megatron],None,1980/04/10,2012/05/10,"[None, 5700.0]",2012-05-10,2014-06-24,True,"[78, 111, 110, 101]",None
5,Metroplex_)^$,300.0,Battle Station,8.0,5000000.0,NaN,[Metroflex],None,1980/04/10,2011/04/10,"[91.44, None]",2011-04-10,2014-06-24,True,"[66, 97, 116, 116, 108, 101, 32, 83, 116, 97, ...",None
6,None,NaN,None,NaN,NaN,NaN,None,None,None,None,None,None,NaT,None,None,None